<extend name='Lyout:comment'/>
<block name='admin'>
    <h1>
        <span class="action-span"><a href="{:U('add')}">添加新轮播图</a></span>
        <span class="action-span1"><a href="{:U('Goods/index')}">重庆火锅国际供应链股份有限公司   管理中心</a></span>
        <span id="search_id" class="action-span1"> - {$meta_title} </span>
        <div style="clear:both"></div>
    </h1>
   

    <!-- 商品列表 -->
    <form method="post" action="" name="listForm" onsubmit="">
        <div class="list-div" id="listDiv">
            <table cellpadding="3" cellspacing="1">
                <tr>
                    <th>图片名称</th>
                    <th>图片路径</th>
                    <th>排序</th>
                    <th>操作</th>
                </tr>
                <foreach name="rows" item="row">
                    <tr>
                        <td align="center">{$row.name}</td>
                      
                        <td align="center"><span onclick="">{$row.path}</span></td>
                        <td align="center">{$row.sort}</td>
                        <td align="center">
                            <a href="{:U('delete',array('id'=>$row['id']))}" onclick="" title="回收站"><img src="__IMG__/icon_trash.gif" width="16" height="16" border="0" /></a></td>
                    </tr>
                </foreach>
            </table>

            
        </div>
    </form>
</block>
<block name='footer'></block>