body {
	background: #F1F1F1;
	font-family: "microsoft yahei";
}
* {
	padding: 0;
	margin: 0
}
img {
	border: 0;
}
ul, ol {
	list-style: none
}
a {
	text-decoration: none
}
.fl{
	float:left;	
}
.fr{
	float:right;	
}
.ma_matop20{
	margin-top:19px;	
}
.ma_matop10{
	margin-top:10px;	
}
.ma_matop30{
	margin-top:30px !important;	
}
.mabott2{
	margin-bottom: 2%;
}
.clo_ff9{
	color:#ff9000 !important;	
}
.clo_c4{
	color:#c4c4c4 !important;	
}
.clo_de0{
	color:#de0000 !important;	
}
/**
	主页页面
**/
.in_head{
	width:100%;
	height:auto;
	overflow:hidden;
	position:absolute;
	z-index: 9;
	background:url(../images/inheadbj.png) no-repeat;	
}
.in_center{
	width:80%;
	height:auto;
	overflow:hidden;
	margin:0 auto;	
}
.in_head_diqu{
	color:#fff;
	font-size:1em;
	line-height:36px;
}
.in_head_input{
	width:220px;
	height:24px;
	background:#fff;
	border-radius:10px;
	margin-top: 5px;
}
.in_head_input_tu{
	width:12px;
	height:12px;
	margin-left: 8px;
    margin-top: 6px;
	background:url(../images/fdj.png) no-repeat;	
}
.in_head_input_input{
	width:170px;
	height:24px;
	margin-left: 10px;	
}
.in_head_input_input input{
	width:170px;
	height:21px;
	border:0;
	outline:none;
}



.slideBox {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	max-width: 640px;/* 设置焦点图最大宽度 */
}
.slideBox .hd {
	position: absolute;
	height: 28px;
	line-height: 28px;
	bottom: 0;
	right: 40%;
	z-index: 1;
}
.slideBox .hd li {
	display: inline-block;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	text-indent: -9999px;
	overflow: hidden;
	margin: 0 6px;
}
.slideBox .hd li.on {
	background: orange;
}
.slideBox .hd ul {
	margin-top: 0;
}
.slideBox .bd {
	position: relative;
	z-index: 0;
}
.slideBox .bd li {
	position: relative;
	text-align: center;
}
.slideBox .bd li img {
	vertical-align: top;
	width: 100%;/* 图片宽度
100%，达到自适应效果 */
}
.slideBox .bd li a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}  /* 去掉链接触摸高亮 */
.slideBox .bd li .tit {
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-indent: 10px;
	height: 28px;
	line-height: 28px;
	background: url(/public/img/focusBg.png) repeat-x;
	color: #fff;
	text-align: left;
}
.menu {
	font-size: 0;
	text-align: center;
	margin-top: 0;
	background: #fff;
	overflow: auto;
	padding-bottom: 5px;
	padding-top: 10px;
}
.menu li {
	display: block;
	width: 25%;
	text-align: center;
	float: left;
}
.menu li i {
	display: block;
}
.menu li i img {
	width: 50%;
}
.menu li p {
	font: 13px/18px "microsoft yahei";
	color: #666;
	padding-top: 3px;
	font-size: 14px;
	line-height: 30px;
}

/*footer*/
.in_footer{
	display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
	height:59px;
	border-top:1px solid #E6E6E6;
    max-width: 640px;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    z-index: 99;
}
.in_footer_lish{
	width:25%;
	height:59px;	
}
.in_footer_lish a{
	width:100%;
	height:auto;
	overflow:hidden;
	display:block;
	margin:0 auto;
}
.in_footer_lish_zi{
	text-align:center;
	font-size:14px;
	line-height:24px;
	color:#646464;
}
.in_footer_lish_tu1{
	width:26px;
	height:26px;
	background:url(../images/icon.png);
	background-position: 0px -3px;
	margin:0 auto;
	margin-top: 8px;
}
.in_footer_lish_tu2{
	width:22px;
	height:28px;
	background:url(../images/icon.png);
	background-position: -40px -1px;
	margin:0 auto;
	margin-top: 8px;
}
.in_footer_lish_tu3{
	width:24px;
	height:28px;
	background:url(../images/icon.png);
	background-position: -72px 0px;
	margin:0 auto;
	margin-top: 8px;
}
.in_footer_lish_tu4{
	width:24px;
	height:28px;
	background:url(../images/icon.png);
	background-position: -105px 0px;
	margin:0 auto;
	margin-top: 8px;
}
.in_footer_on .in_footer_lish_tu1{
	width:26px;
	height:26px;
	background:url(../images/icon.png);
	background-position: 0px -40px;
	margin:0 auto;
	margin-top: 8px;
}
.in_footer_on .in_footer_lish_tu2{
	width:22px;
	height:28px;
	background:url(../images/icon.png);
	background-position: -40px -38px;
	margin:0 auto;
	margin-top: 8px;
}
.in_footer_on .in_footer_lish_tu3{
	width:24px;
	height:28px;
	background:url(../images/icon.png);
	background-position: -72px -40px;
	margin:0 auto;
	margin-top: 8px;
}
.in_footer_on .in_footer_lish_tu4{
	width:24px;
	height:28px;
	background:url(../images/icon.png);
	background-position: -105px -39px;
	margin:0 auto;
	margin-top: 8px;
}

/*END*/

.in_conner{
	width:100%;
	height:auto;
	overflow: hidden;
	background:#fff;
	margin-top: 10px;
	padding-bottom: 17%;	
}
.in_conner_lish{
	width:94%;
	margin:0 auto;
	margin-top:10px;
}
.in_conner_lish img{
	width:100%;	
}


/**
	搜索页面
**/
.se_head{
	width: 100%;
    height: 36px;
    background: #fff;
	overflow: hidden;
    position: fixed;
    top: 0;
	z-index:11;
	border-bottom:1px solid #d7d7d7;
}
.se_head_input{
	width: 300px;
    height: 24px;
    background: #efefef;
    border-radius: 10px;
	margin:0 auto;
	margin-top: 6px;
}
.se_head_input_tu{
	width: 12px;
    height: 12px;
    margin-left: 8px;
    margin-top: 6px;
    background: url(../images/fdj.png) no-repeat;
}
.se_head_input_input{
	width: 250px;
    height: 24px;
    margin-left: 10px;
}
.se_head_input_input input{
	width: 240px;
    height: 21px;
    border: 0;
    outline: none;
	background: #efefef;
}
.se_con{
	width:100%;
	padding-bottom: 25%;
	padding-top: 10%;
}
.se_lish{
	width:96%;
	height:130px;
	margin:0 auto;
	margin-top: 8px;
	background:#fff;
	border:1px solid #d7d7d7;	
}
.se_lish_tu{
	width:120px;
	height:120px;
	padding-left: 5px;
    padding-top: 5px;		
}
.se_lish_tu img{
	width:100%;
}
.se_lish_text{
    width: 170px;
    height: 120px;
    padding-left: 10px;
    padding-top: 5px;
}
.se_lish_text_name{
	width:170px;
	height:24px;
	line-height:24px;
	font-size:16px;
	overflow:hidden;
}
.se_lish_text_xq{
	width:170px;
	height:20px;
	font-size:12px;
	line-height:20px;
	color:#939393;
	overflow:hidden;
}
.se_lish_text_shuliang span{
	display:block;
	width:25px;
	height:25px;
	border-radius: 50%;
	background:#ff9c00;
	text-align:center;
	line-height:25px;
	color:#fff;
	font-size:14px;
}
.se_lish_text_shuliang input{
	width:30px;
	height:25px;
	display:block;
	border:0;
	outline:none;
	text-align: center;	
}
.se_lish_text_shuliang{
	width: 80px;
    height: 25px;
    margin-top: 10px;
}
.se_lish_text_jiage{
	width:90px;
	height:25px;
	font-size:12px;
	color:#ff0000;
	line-height:25px;
	text-align:center;
	margin-top: 10px;	
}
.se_lish_text_jiage span{
	color:#4a4d55;
}
.cp_dianjick {
	width:100%;
	height:30px;
	background:#dc4c4c;
	opacity: 0.8;
	filter: alpha(opacity=80);
	position: fixed;
    bottom: 60px;
	text-align:center;
	line-height:30px;
	font-size:14px;
	color:#fff;
	display:block;
    z-index: 2;
}
.is_cp_dianjick {
	width:100%;
	height:30px;
	background:#dc4c4c;
	opacity: 0.8;
	filter: alpha(opacity=80);
	position: fixed;
    bottom: 60px;
	text-align:center;
	line-height:30px;
	font-size:14px;
	color:#fff;
	display:block;
    z-index: 2;
}
/**
	产品列表
**/
.se_cpname{
	width:100%;
	height:36px;
	background:#fff;
    overflow: hidden;
    position: fixed;
    top: 37px;
	z-index:10;
    border-bottom: 1px solid #d7d7d7;
}
.se_cpname ul li{
	float:left;
	width:25%;
	height:36px;
}
.se_cpname ul li a{
	display:block;
	width:100%;	
	height:36px;
	text-align:center;
	line-height:36px;
	font-size:14px;
	line-height:36px;
	color:#6d6f72;		
}
.se_cpname_on a{
	width:100% !important;
	height:35px !important;
	border-bottom:1px solid #ac0000;	
}
.pro_left{
	width:20%;
	background:#DEDEDE;
	position: fixed;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
	top: 74px;
}
.pro_left_lish{
	width:100%;
	height:50px;
	background:#fff;
}
.pro_left_lish a{
	display:block;
	width:100%;
	height:49px;
	line-height:50px;
	text-align:center;
	color:#6d6f72;
	border-bottom:1px solid #E4E4E4;
}
.pro_on{
	background:#f5f5f5;
}
.pro_on a{
	background:#f5f5f5;
	color:#ac0000;
}
.pro_right{
    position:absolute;
    width: 76%;
    height: auto;
    overflow: hidden;
    margin-right: 2%;
    padding-top: 21%;
    padding-bottom: 30%;
}
.pro_lish{
	width:99%;
	height: 130px;
    margin: 0 auto;
    margin-top: 8px;
    background: #fff;
    border: 1px solid #d7d7d7;
}
.pro_lish_tu{
    width: 70px;
    height: 70px;
    padding-left: 5px;
    padding-top: 12px;
}
.pro_lish_tu img{
	width:100%;	
}
.pro_lish_text{
	width: 150px;
    height: 120px;
    padding-left: 10px;
    padding-top: 5px;
}
.pro_lish_text_name{
	width: 150px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    overflow: hidden;
}
.pro_lish_text_xq{
	width: 150px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #939393;
    overflow: hidden;
}
.pro_lish_text_jiage{
	width: 70px;
    height: 25px;
    font-size: 12px;
    color: #ff0000;
    line-height: 25px;
    text-align: center;
    margin-top: 10px;
}
.pro_lish_text_jiage span {
    color: #4a4d55;
}
.pro_jiage{
	width:50%;
	height:30px;
	font-size:14px;
	line-height:30px;
	background:#fff;
	color:#000;	
}
.pro_jiage span{
	color:#ff0000;	
}
.pro_qingdan{
	display:block;
	width:50%;
	height:30px;
	line-height:30px;
	font-size:14px;
	text-align:center;
	color:#fff;	
}
/**
	登陆
**/
.lo_bj{
	width:100%;
	height:40px;
	background:#000;	
}
.lo_bj a{
	display:block;
	width:50%;
	height:40px;
	line-height:38px;
	color:#fff;
	font-size:1em;
	text-align:center;
}
.lo_bottom{
	height:38px !important;
	line-height:38px !important;
	border-bottom:2px solid #da3a3a;	
}
.lo_login{
	width:90%;
	height:auto;
	margin:0 auto;
	overflow:hidden;
	margin-top: 20px;		
}
.lo_login_kk{
	width:100%;
	height:39px;
	margin-top:20px;
	border-bottom:1px solid #ccc;
}
.lo_login_kk input{
    width: 99%;
    height: 39px;
	border:0;
	outline:none;
	font-size: 0.8em;
	font-family:'microsoft yahei';
}
.lo_login_reg{
	width:100%;
	text-align:center;
	margin-top:40px;
	font-size:0.8em;
	color:#a8a8aa;
}
.lo_login_reg a{
	font-size:1em;
	color:#000;
	padding-left:5px;
}
.lo_anniu{
	width: 100%;
    height: 50px;
    display: block;
    background: #da3a3a;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom: 0;
	color:#fff;
}
.reg_registered{
	width: 90%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
	padding-bottom: 25%;
}
.reg_registered_kk{
	width: 100%;
    height: 39px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}
.reg_registered_kk input{
    width: 99%;
    height: 39px;
	border:0;
	outline:none;
	font-size: 0.8em;
	font-family:'microsoft yahei';
}
.reg_registered_kk .reg_phone{
	display:block;
	width:60% !important;
}
.reg_yanma{
	width:35%;
	height:39px;
	line-height:39px;
	font-size:0.8em;
	text-align: right;
	color:#a64f4f;	
}
.reg_registered_file{
	width: 40%;
    height: 39px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}
.reg_registered_file input{
	width:35%;
	height: 39px;
    border: 0;
    outline: none;
    font-size: 0.8em;
    font-family: 'microsoft yahei';
}
.reg_registered_file .link {
    width: 100%;
    height: 38px;
    float: left;
    display: inline-block;
    color: #a8a8aa;
    cursor: pointer;
    line-height: 40px;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    border-radius: 3px;
}
.uploadFiless {
	position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    overflow: hidden;
    margin-left: -35%;
}
.reg_registered_tu{
	width:70px;
	height:40px;
	margin-top: 20px;
	margin-left: 20px;
}
.reg_registered_tu img{
	width:70px;	
	height:40px;
}
.reg_ok_text{
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#ac0000;
	font-size:1.2em;
	margin-top: 40px;
}
.reg_ok_shenhe{
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#404040;
	font-size:1em;
	margin-top: 10px;
}
.reg_ok_tu{
	width:90%;
	margin:0 auto;
	margin-top: 10%;
}
.reg_ok_tu img{
	width:100%;
}

/**
	结算确认页面
**/
.set_con{
	width:100%;
	height:auto;
	overflow:hidden;
    padding-bottom: 28%;	
}
.set_head{
	width:100%;
	height:39px;
	background:#fff;
	border-bottom:1px solid #ccc;
}
.set_head p{
	width:90%;
	margin:0 auto;
	height:40px;
	line-height:40px;
	color:#424242;
	font-size:0.8em;
}
.set_cplish{
	width:100%;
	height:99px;
	background:#fff;
	border-bottom:1px solid #ccc;
}
.set_cplish_tu{
	width:80px;
	height:80px;
    margin-left: 10px;
    margin-top: 10px;
}
.set_cplish_tu img{
	width:100%;	
}
.set_cplish_text{
	width:68%;
	height:80px;
	margin-top: 10px;
	margin-left: 10px;
}
.set_cplish_text_title{
	width:100%;
	height:24px;
	margin-bottom: 10px;	
}
.set_cplish_text_title_1{
	width:72%;
	height:24px;
	line-height:24px;
	font-size:0.8em;
	overflow:hidden;
}
.set_cplish_text_title_2{
	width:25%;
	height:24px;
	line-height:24px;
	font-size:0.8em;
	text-align:right;
	color:#ff0000;	
}
.set_cplish_text_gongjin{
	width: 100%;
    height: 24px;
	line-height:24px;
	color:#949494;
	font-size:0.8em;
}
.set_cplish_text_gongjin b{
	color:#ff0000;
	padding-right:5px;
}
.set_cplish_text_gongjin span{
	color:#000;
	padding-left:5px;
}
.set_alldingdan{
	width:100%;
	height:40px;
	background:#fff;
}
.set_alldingdan a{
	display:block;
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#a3a3a3;
	font-size:0.8em;	
}
.set_dizhi{
	width: 100%;
    height: auto;
    background: #fff;
    overflow: hidden;	
}
.set_dizhi a{
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 4%;	
}
.set_dizhi_head{
	width:100%;
	height:24px;
	line-height:24px;
	color:#171313;
	font-size:0.8em;
	overflow:hidden;
	padding-top: 10px;
}
.set_dizhi_xinxi{
	width:80%;
	height:24px;
	line-height:24px;
	color:#171313;
	font-size:0.8em;
	overflow:hidden;
}
.set_dizhi_jiantou{
	width:13px;
	height:24px;
	background:url(../images/jiantou.png) no-repeat;
}
.set_dizhi_fapiao{
	width:100%;
	height:18px;
	line-height:18px;
	color:#8a8a8a;
	font-size:0.6em;
	overflow:hidden;
}
.set_dizhi_fapiao span{
	padding-left:15px;	
}
.set_fukuan{
	width: 100%;
    height: 39px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.set_fukuan a{
    width: 90%;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    color: #424242;
    font-size: 0.8em;
	display:block;
}

/**
	个人中心
**/
.pc_bjtu{
	width:100%;
	height:160px;
	background:url(../images/3.jpg) no-repeat;
	background-size:100% 100%;
}
.pc_bjtu_toux{
	width:65px;
	height:65px;
	margin:0 auto;
	padding-top: 12%;
}
.pc_bjtu_toux img{
	border-radius:50%;
	border:2px solid #fff;
}
.pc_bjtu_title{
	text-align:center;
	line-height:40px;
	width:60%;
	height:40px;
	margin:0 auto;
	font-size:1em;
	color:#fff;
}
.pc_user{
	width:100%;
	height:45px;
	background:#fff;
	overflow: hidden;
	border-bottom:1px solid #ccc;
}
.pc_user a{
	width:90%;
	height:45px;
	margin:0 auto;
	display:block;
	overflow: hidden;
}
.pc_user_tu1{
	width:30px;
	height:25px;
	background:url(../images/user.png);
	background-position: 0px 0px;
	margin-top: 10px;
}
.pc_user_tu2{
	width:30px;
	height:27px;
	background:url(../images/user.png);
	background-position: 0px -40px;
	margin-top: 10px;
}
.pc_user_tu3{
	width:30px;
	height:28px;
	background:url(../images/user.png);
	background-position: 0px -83px;
	margin-top: 10px;
}
.pc_user_tu4{
	width:30px;
	height:28px;
	background:url(../images/user.png);
	background-position: 0px -128px;
	margin-top: 10px;
}
.pc_user_tu5{
	width:30px;
	height:26px;
	background:url(../images/user.png);
	background-position: 0px -174px;
	margin-top: 10px;
}
.pc_user_tu6{
	width:30px;
	height:24px;
	background:url(../images/user.png);
	background-position: 0px -219px;
	margin-top: 10px;
}

.pc_user_zi{
	width:60%;
	height:45px;
	line-height:45px;
	padding-left:5%;
	color:#000000;	
}
.pc_top_10{
	margin-top:10px;	
}

/**
	订单清单
**/
.ord_top{
	margin-top: 37px;
	padding-bottom: 24%;
}
.ord_qingdan{
	width:100%;
	height:100px;
	overflow:hidden;
	background:#fff;
	border-bottom:1px solid #ccc;
}
.ord_con{
	width:96%;
	height:100px;
	margin:0 auto;
	overflow:hidden;
}
.ord_qingdan_tu{
	width:80px;
	height:80px;
    margin-top: 10px;
}
.ord_qingdan_tu img{
	width:100%;
}
.ord_qingdan_text{
	width:70%;
	height:80px;
	margin-top: 10px;
	margin-left:5px;
}
.ord_qingdan_name_name{
	width:60%;
	height:24px;
	line-height:24px;
	color:#000000;
}
.ord_qingdan_name_jiage{
	width:40%;
	text-align:right;
	height:24px;
	line-height:24px;
	color:#ff0000;
}
.ord_qingdan_sc{
	width:70px;
	height:30px;
	display:block;
	background:#ed7161;
	text-align:center;
	line-height:30px;
	color:#fff;
	font-size:0.8em;
	margin-top: 25px;
}
.ord_zongji{
	width:100%;
	height:40px;
	background:#f9f9f9;	
}
.ord_zongji_con{
	width:96%;
	height:40px;
	margin:0 auto;
}
.ord_zongji_con p{
	width:50%;
	height:40px;
	line-height:40px;	
}
.ord_zongji_con_float{
	text-align:left;
	color:#9f9f9f;
	font-size:0.8em;
}
.ord_zongji_con_right{
	text-align: right;
	color:#ff0000;
	font-size:1em;
}
.ord_kong{
	width:80%;
	margin:0 auto;
	margin-top:100px;
}
.ord_kong img{
	width:100%;	
}
/**
	收货地址
**/
.add_dizhi{
	width: 30% !important;
	margin-left:5% !important;
    height: 40px;
    line-height: 40px;
    color: #424242;
    font-size: 0.8em;
}
.add_moren{
	margin-right:5% !important;
    height: 40px;
    line-height: 40px;
    color: #bbbbbb;
    font-size: 0.8em;
	display:block;
	text-align:right;
}
.add_shezhi{
	margin-right:5% !important;
	width:70px;
	height:24px;
	line-height:24px;
	border:1px solid #fb5e00;
	border-radius:12px;
	text-align:center;
	margin-top: 7px;
	font-size: 0.8em;
	color:#fb5e00;
}
.cp_adddizhi{
	width:100%;
	height:30px;
	background:#fff;
	opacity: 0.8;
	filter: alpha(opacity=80);
	position: fixed;
    bottom: 60px;
	display:block;
    z-index: 2;
}
.cp_adddizhi_tu{
	width:18px;
	height:18px;
	border-radius:50%;
	text-align:center;
	line-height:18px;
	border:1px solid #da3a3a;
	color:#da3a3a;
	margin-top: 5px;
	margin-left: 38%;
}
.cp_adddizhi_zi{
	color:#000;
	font-weight:bold;
	font-size:0.8em;
	line-height:30px;
	margin-left: 2%;	
}
/**
	新增地址
**/
.na_con{
	width:100%;
	height:auto;
	overflow:hidden;
}
.na_head{
	width:90%;
	height:40px;
	margin:0 auto;
	color:#424242;
	font-size:0.8em;
	line-height:40px;
}
.na_shuru{
	width:100%;
	height:39px;
	background:#fff;
	border-bottom:1px solid #eeeeee;
}
.na_shuru_90{
	width:90%;
	height:40px;
	margin:0 auto;
}
.na_shuru_zi{
	width:20%;
	height:40px;
	text-align:left;
	color:#424242;
	font-size:0.8em;
	line-height:40px;
}
.na_shuru_input{
	width:80%;
	height:40px;	
}
.na_shuru_input input{
    width: 96%;
    height: 30px;
    margin-top: 4px;
	border:0;
	outline:none;
	font-family:'microsoft yahei';
}
.na_dianjick{
	width:100%;
	height:30px;
	background:#dc4c4c;
	opacity: 0.8;
	filter: alpha(opacity=80);
	position: fixed;
    bottom: 60px;
	text-align:center;
	line-height:30px;
	font-size:14px;
	color:#fff;
	display:block;
    z-index: 2;
}
.na_dianjick a{
	display:block;
	width:50%;	
}
.na_sccon{
	width:50%;
	height:30px;
	margin:0 auto;	
}
.na_tubiao{
	width:13px;
	height:16px;
	background:url(../images/dzhi.png);
	background-position: 0px 0px;
	margin-top: 6px;
}
.na_ziti{
	color:#fff;
	font-size:1em;
	padding-left:6%;
}
.na_baocun{
	background:#fff;	
}
.na_tubiao2{
	width:19px;
	height:19px;
	background:url(../images/dzhi.png);
	background-position: -26px -1px;
	margin-top: 6px;
}
.na_ziti2{
	color:#464646;
	font-size:1em;
	padding-left:6%;
}
/**
	我的资料
**/
.mp_lish{
	width:100%;
	height:39px;
	border-bottom:1px solid #ccc;
	background:#fff;	
}
.mp_lish_con{
	width:90%;
	margin:0 auto;
	display: block;	
}
.mp_lish_name{
	height:40px;
	line-height:40px;
	color:#000000;
	font-size:0.8em;	
}
.mp_lish_text{
	color:#aeaeae;
	line-height:40px;
	font-size:0.8em;	
}
.mp_lish_jiantou{
	width: 8px;
    height: 15px;
    background: url(../Images/jiantou2.png) no-repeat;
	margin-top: 12px;
    margin-left: 14px;
}
.mp_oldphone{
	font-size:0.8em;
	margin-top: 20px;
	color:#000;	
}

/**
	供应需求
**/
.sdxq_con{
	width: 100%;
    height: auto;
    overflow: hidden;
	padding-bottom:30%;
}
.sdx_head{
	width:100%;
	height:39px;
	background:#fff;
	border-bottom:1px solid #eeeeee;
}
.sdx_head a{
	width:50%;
	height:40px;
	display:block;
	text-align:center;
	line-height:40px;
	color:#6e6e6e;
	font-size:0.8em;	
}
.sdx_head_on{
	height:38px !important;
	color:#000 !important;
	font-weight:bold;
	border-bottom:2px solid #FF0004;	
}
.sd_shuru_input{
	width: 30%;
    height: 40px;
}
.sd_shuru_input input{
	width: 96%;
    height: 30px;
    margin-top: 4px;
    border: 0;
    outline: none;
    font-family: 'microsoft yahei';
}
.sd_xuqiu{
	width: 100%;
    height: 129px;
    background: #fff;
    border-bottom: 1px solid #eeeeee;
}
.sd_xuqiu_90{
	width:90%;
	height:130px;
	margin:0 auto;	
}

.sd_xuqiu_zi{
	width: 100%;
    height: 30px;
    text-align: left;
    color: #424242;
    font-size: 0.8em;
    line-height: 40px;
}
.sd_xuqiu_textarea{
	width:100%;
	height:50px;
	margin-top:6px;
}
.sd_xuqiu_textarea textarea{
	width:100%;
	height:50px;
	border:0;	
	resize:none;
	outline:none;
}
.sd_xuqiu_qingdan{
	width:80px;
	height:28px;
	line-height:28px;
	text-align:center;
	color:#fb5e00;
	border:1px solid #fb5e00;
	border-radius:8px;
	font-size:0.8em;
	display:block;
	margin-top: 8px;
}
.sd_sppx{
	width:100%;
	height:auto;
	overflow:hidden;
	background:#fff;
}
.sd_sppx_lish{
	width:100%;
	height:40px;	
}
.sd_sppx_head_1{
	width:10%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#171313;
	font-size:0.8em;
	overflow:hidden;		
}
.sd_sppx_head_2{
	width:30%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#171313;
	font-size:0.8em;
	overflow:hidden;	
}
.sd_sppx_head_3{
	width:20%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#171313;
	font-size:0.8em;	
	overflow:hidden;	
}
.sd_sppx_head_4{
	width:40%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#171313;
	font-size:0.8em;	
	overflow:hidden;	
}
.sd_time{
	width:100%;
	height:40px;
	line-height:40px;	
}
.sd_time p{
	width:90%;
	margin:0 auto;
	height:40px;
	font-size:0.8em;
	color:#464646;	
}

/**
	我的钱包
**/
.wt_lish_text{
	color: #FF0004;
    line-height: 40px;
    font-size: 0.8em;
	padding-left:5%;
}

/**
	确认收货 
**/
.rpt_con{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 30%;
}
.rpt_head{
	width:100%;
	height:40px;	
}
.rpt_head p{
	width:90%;
	margin:0 auto;
	color:#000;
	font-size:0.8em;
	line-height:40px;	
}
.rpt_lish{
	width:100%;
	height: auto;
	overflow:hidden;
	background:#fff;
	border-bottom:1px solid #efefef;
}
.rpt_con_lish{
	width:90%;
	height:70px;
	margin:0 auto;	
}
.rpt_con_lish_1{
	width:40%;
	height:70px;
}
.rpt_con_lish_head{
	width:100%;
	height:35px;
	line-height:42px;
	text-align:center;
	color:#000000;
	font-size:0.8em;
}
.rpt_con_lish_red{
	width:100%;
	height:35px;
	line-height:28px;
	text-align:center;
	color:#FF0004;
	font-size:0.8em;
}
.rpt_con_lish_2{
	width:20%;
	height:70px;
	line-height:70px;
	color:#7d7d7d;
	font-size:0.8em;
	text-align:center;
}
.rpt_heji{
	width:100%;
	height:40px;
}
.rpt_heji p{
	width:90%;
	height:40px;
	line-height:40px;
	margin:0 auto;
	text-align:right;
	color:#000;
}
.rpt_heji p span{
	color:#F50004;
	padding-left:3%;	
}

/**
	订单状态
**/
.os_head {
    width: 100%;
    height: 39px;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.os_conter{
	width:90%;
	height:40px;
	margin:0 auto;
}
.os_conter_qingdan{
	text-align:left;
	line-height:40px;
	color:#000;
	font-size:0.8em;	
}
.os_conter_jiage{
	text-align: right;
	line-height:40px;
	color: #FF0004;
	font-size:0.8em;	
}
/**
	全部订单
**/
.ao_con{
	width:100%;
	height:auto;
	overflow:hidden;
    padding-bottom: 20%;	
}
.ao_lish{
	width:100%;
	height:100px;
	background:#fff;
	margin-bottom: 5px;	
}
.ao_lish_tu{
	width:26%;
	height:85px;
    margin-top: 8px;
    margin-left: 8px;
}
.ao_lish_tu img{
	width:100%;	
}

.ao_lish_text{
	width:66%;
	height:85px;
	margin-top:8px;
	padding-left: 8px;
}
.ao_lish_text_head{
	width:100%;
	height:18px;
}
.ao_lish_text_ziti{
	width:70%;
	font-size:14px;
	color:#000;
	line-height:18px;
	overflow:hidden;	
}
.ao_lish_text_fukuan{
	color:#c4c4c4;
	width:30%;
	text-align:right;
	font-size:12px;
	line-height:18px;
}
.ao_lish_text_jiage{
	width:100%;
	height:35px;	
}
.ao_lish_text_jiage_zi{
	width:50%;
	color:#FF0004;
	font-size:16px;
	line-height:35px;	
}
.ao_lish_text_jiage_aniu{
	display:block;
	width:70px;
	height:28px;
	line-height:28px;
	text-align:center;
	color:#fff;
	font-size:12px;
	margin-top: 4px;
	background:#00aee7;
}
.ao_bj1{
	background:#649c26 !important;	
}
.ao_bj2{
	background:#ff8400 !important;	
}
.ao_lish_text_ztai{
	width:100%;
	height:32px;
}
.ao_lish_text_ztai_time{
	width:60%;
	height:32px;
	overflow:hidden;
}
.ao_lish_text_ztai_time p{
	width:100%;
	height:16px;
	line-height:16px;
	font-size:12px;
	color:#898888;
}

/**
	订单详情
**/
.os_zhuangtai{
	width:90%;
	height:auto;
	margin:0 auto;
	overflow:hidden;
	margin-top:10px;
}
.os_zhuangtai_left{
	width:15%;
	height:auto;
	overflow:hidden;
	margin-top: 10px;
}
.os_zhuangtai_right{
	width:85%;
	height:auto;
	overflow:hidden;
}
.os_zhuangtai_tu1{
	width:40px;
	height:37px;
	background:url(../images/zt.png);
	background-position: 0px 0px;
}
.os_zhuangtai_tu2{
	width:40px;
	height:37px;
	background:url(../images/zt.png);
	background-position: 0px -63px;
}
.os_zhuangtai_tu3{
	width:40px;
	height:37px;
	background:url(../images/zt.png);
	background-position: 0px -127px;
}
.os_zhuangtai_tu4{
	width:40px;
	height:37px;
	background:url(../images/zt.png);
	background-position: 0px -195px;
}
.os_zhuangtai_shu{
	width:2px;
	height:18px;
	background:#FF0004;
	margin-left:17px;
}
.os_zhuangtai_kk{
    width: 97%;
    height: 48px;
    background: #fff;
    border: 1px solid #dbdbdb;
    margin-top: 5px;
    position: relative;
}
.os_zhuangtai_kk_head{
	width:100%;
	height:30px;	
}
.os_zhuangtai_kk_head_text{
	width:50%;
	height:30px;
	line-height:30px;
	text-align:left;
	font-size:14px;
	overflow:hidden;
	padding-left:2%;
	color:#000;	
}
.os_zhuangtai_kk_head_time{
	width:46%;
	height:30px;
	line-height:30px;
	text-align: right;
	font-size:12px;
	padding-right:2%;
	color:#7f7f7f;	
}
.os_zhuangtai_kk_zt{
	width:98%;
	height:	18px;
	line-height:18px;
	text-align:left;
	padding-left:2%;
	font-size:12px;
	color:#7f7f7f;
}
.os_zhuangtai_kk_jj{
	width:8px;
	height:10px;
	background:url(../images/juju.png) no-repeat;
	position:absolute;
	left: -8px;
    top: 16px;
}













