<extend name='Lyout:comment'/>
<block name='admin'>
        <h1>
            <span class="action-span"><a href="{:U('index')}">想成为代理商</a></span>
            <span class="action-span1"><a href="{:U('Agent/index')}">重庆火锅国际供应链股份有限公司 管理中心</a></span>
            <span id="search_id" class="action-span1"> - {$meta_title} </span>
        </h1>
        <div style="clear:both"></div>
        <div class="main-div">
            <form method="post" action="{:U()}" enctype="multipart/form-data" >
                <table cellspacing="1" cellpadding="3" width="100%">
                    <tr>
                        <td class="label">姓名</td>
                        <td>
                            <input type="text" name="name" maxlength="60" value="{$row.name}" />
                            <span class="require-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">手机号</td>
                        <td>
                            <input type="text" name="tel" maxlength="60" value="{$row.tel}" />
                            <span class="require-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">邮箱</td>
                        <td>
                            <input type="text" name="email" maxlength="60" value="{$row.email}" />
                            <span class="require-field">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">留言</td>
                        <td>
                            <textarea  name="intro" cols="60" rows="4"  >{$row.intro}</textarea>
                        </td>
                    </tr>
                   
                 <tr>
                <td class="label">审核</td>
                <td>
                    <input type="radio" name="check" <if condition="$row.check eq 1">checked</if> value="1"/>   通过 
                    <input type="radio" name="check" <if condition="$row.check eq 0">checked</if> value="0"  /> 未通过
                     <input type="radio" name="check" <if condition="$row.check eq -1">checked</if> value="-1"/> 待审核
                </td>
            </tr>
                    <tr>
                        <td colspan="2" align="center"><br />
                            <input type="hidden" name='id' value="{$row.id}" />
                            <input type="submit" class="button" value=" 确定 " />
                            <input type="reset" class="button" value=" 重置 " />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
</block>
<block name='js'>
    <js href='__JS__/jquery.min.js'/>
    <script type='text/javascript'>
        $(function(){
            $(':input[name=status]').val([{$row.status|default=1}]);
            $(':input[name=is_help]').val([{$row.is_help|default=1}]);
        });
    </script>
</block>