<extend name='Lyout:comment'/> 
<block name='admin'>
    <script type="text/javascript">
          function bindPhoneNum() {
            //发送ajax请求到后台
            var url = '{:U("index.php/Admin/Member/sendSMS")}';
            var data = {
                'telphone':$('#tel').val()
            };
            $.getJSON(url,data,function(response){
                console.debug(response);
            });
            }
    </script>  
<body style="background:#fff;">
<section> 
  <!-- banner -->
  <div id="slideBox" class="slideBox">
    <div class="bd">
      <ul>
        <li><a title=""><img src="__IMG__/2j.jpg"  alt="" /></a></li>
      </ul>
    </div>
  </div> 
  <!-- end --> 
   <form action="{:U('index.php/Admin/Myprofile/MyProfilePhone')}" method="post" id='signup'>
  <div class="reg_registered">
  	<p class="mp_oldphone">旧手机号：{$members['tel']}</p>
	<div class="reg_registered_kk">
    	<input type="text" placeholder="新手机号" name='tel' class="reg_phone fl" id='tel'/>
        <a  class="reg_yanma fr" onclick="bindPhoneNum(this)">发送验证码</a>
    </div>
    <div class="reg_registered_kk"><input type="text" name='captcha' placeholder="验证码" /></div>
  </div>
  
  <input type='submit' class="lo_anniu"  value='确定'/>
<!-- <input type="submit" class="lo_anniu" value="下一步">-->
</section>
</body>
</html>
</block>