<extend name='Lyout:comment'/>
<block name="css">
    <css href="__ZTREE__/css/zTreeStyle/zTreeStyle.css"/>
    <css href="__UPLOADIFY__/uploadify.css"/>
   
    <style type="text/css">
        .upload-pre-item img{
            width:150px;
        }

        .upload-pre-item{
            display:inline-block;
        }

        .upload-pre-item a{
            position:relative;
            top:5px;
            right:15px;
            float:right;
            color:red;
            font-size:16px;
            text-decoration:none;
        }
        
        ul.ztree{
            margin-top: 10px;
            border: 1px solid #617775;
            background: #f0f6e4;
            width: 220px;
            overflow-y: scroll;
            overflow-x: auto;
        }
    </style>

</block>
<block name='js'>
    <js href='__JS__/jquery.min.js'/>
     <js href='__UPLOADIFY__/jquery.uploadify.min.js'/>
    <js href='__LAYER__/layer.js'/>
     <script type='text/javascript'>
         //---------------LOGO图片上传------------------
         $('#logo-upload').uploadify({
             'buttonText':'选择文件',
             'fileObjName':'file',
             'swf'      : '__UPLOADIFY__/uploadify.swf',
             'uploader' : '{:U("Upload/upload")}',
             'onUploadSuccess':function(file_node,data){
                 //将返回的字符串转为json对象
                 data = $.parseJSON(data);
                 if(data.status){
                     //成功了,将文件地址存到隐藏域中
                     $('#logo').val(data.file_url);
                     $('#logo-priview').attr('src','__UPLOAD_URL_PREFIX__/' + data.file_url );
                     layer.msg('上传成功',{icon:6});
                 }else{
                     layer.msg(data.msg,{icon:5});
                 }
             },

         });
    </script>
</block>
<block name='admin'>
    <h1>
        <span class="action-span"><a href="{:U('index')}">商品列表</a>
        </span>
        <span class="action-span1"><a href="{:U('Goods/index')}">重庆火锅国际供应链股份有限公司   管理中心</a></span>
        <span id="search_id" class="action-span1"> - {$meta_title} </span>
        <div style="clear:both"></div>
    </h1>

    <div class="tab-div">
        <div id="tabbody-div">
            <form enctype="multipart/form-data" action="{:U('add')}" method="post" class="form1">
                <table width="90%" id="general-table" align="center">
                    <tr>
                        <td class="label">LOGO：</td>

                        <td>
                            <input type="file" id="logo-upload" value="" size="20"/>
                            <input type="hidden" name="logo" id="logo" value="{$row.logo}"/>
                            <div class="upload-pre-item">
                                <img src="__UPLOAD_URL_PREFIX__/{$row.logo}"/>

                            </div>
                            <span >更换LOGO依然会显示原来LOGO,保存后自动修改</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div class="button-div">
                                <input type="submit" value=" 确定 " class="button"/>
                            </div>
                        </td>
                    </tr>
                </table>

            </form>
        </div>
    </div>
</block>