<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>重庆火锅国际供应链股份有限公司 - {$meta_titles} </title>
<meta name="robots" content="noindex, nofollow"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/general.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
<css href="__CSS__/showpage.css" />
 <block name="css"></block>
</head>
<body>
    
             <block name="admin"></block>
             
             <block name="footer"> </block>
                 <div id="footer">
            版权所有 &copy; 2015-2016 ，重庆火锅国际供应链股份有限公司,并保留所有权利。</div>
                </body>
              </html>
            
    </body>
</html>
<block name="js">
   
</block>