<extend name="Lyout:comment"/>
<block name="admin">
    <script type="text/javascript">
        var i = 1;
       $(function(){
        $('#need').click(function(){
           //获取内容
           var name =$('#name').val();
           var num =$('#num').val();
           var info =$('#info').val();
        var html = '<div class="sd_sppx_lish">';
            html+='<a class="sd_sppx_head_1 fl">'+(i++) +'</a>';
            html+='<p class="sd_sppx_head_2 fl">'+name+'</p>';
            html+='<p class="sd_sppx_head_3 fl" >'+num+'</p>';
            html+='<p class="sd_sppx_head_4 fl" >'+info+'</p>';
            html+='</div>';
           $('#ma_main').append(html); 
        });
          //----------------------------------------------------------------  
          var data={};
          var mid={$mid};
          console.debug(mid);
        $('#tijiao').click(function(){
            //大的div
            $('#ma_main').children().each(function(key,val){
//                console.debug($(this).children().index());
                var a =$($(this).children('p')[0]).text();
                var b =$($(this).children('p')[1]).text();
                var c =$($(this).children('p')[2]).text();
              data[key]={
                  'name':a,
                  'num':b,
                  'info':c,
                  'member_id':mid
              };
    });
         $.post("{:U('index.php/Admin/MyNeed/index')}",data,function(sion){
             console.debug(sion);
             
         });
     console.debug(data);
           });
  });
    </script>
<body>
<section>
  <div class="sdxq_con">
    <div class="sdx_head">
    	<a class="sdx_head_on fl">我的需求单</a>
        <a class="fl">历史需求单</a>
    </div> 
<!--   <form action="{:U('index.php/Admin/MyNeed/index')}" method="post">-->
    <div class="na_shuru">
      	<div class="na_shuru_90">
        	<p class="na_shuru_zi fl">商品名</p>
            <p class="na_shuru_input fl"><input type="text" value='' placeholder="请填写商品名称" id="name"></p>
        </div>
    </div>
    <div class="na_shuru">
      	<div class="na_shuru_90">
        	<p class="na_shuru_zi fl">数量</p>
            <p class="sd_shuru_input fl"><input type="text" placeholder="" id="num" value=''></p>
            <p class="na_shuru_zi fl">公斤</p>
        </div>
    </div>  
    <div class="sd_xuqiu">
    	<div class="sd_xuqiu_90">
        	<p class="sd_xuqiu_zi">具体需求</p>
            <p class="sd_xuqiu_textarea">
            	<textarea placeholder="请填写具体需求" id="info" value=''></textarea>
            </p>
            <input type="button" class="sd_xuqiu_qingdan fr" value="加入需求单" id='need' click="need()"/>
        </div>
    </div>
<!--   </form>-->
    <div class="sd_sppx ma_matop10" id='shangping'>
    	<div class="sd_sppx_lish">
            <p class="sd_sppx_head_1 fl">编号</p>
            <p class="sd_sppx_head_2 fl">商品名</p>
            <p class="sd_sppx_head_3 fl">数量</p>
            <p class="sd_sppx_head_4 fl">具体需求</p>
        </div>
        <div id='ma_main'></div>
    </div>
  </div>
  
  <!-- 红色区域 -->
  <a class="cp_dianjick"  id='tijiao'>提交需求订单</a>
  <!-- end --> 
  <!-- footer -->
  <div class="in_footer">
  	<div class="in_footer_lish fl">
    	<a href="" class="">
        	<div class="in_footer_lish_tu1"></div>
            <p class="in_footer_lish_zi">首页</p>
        </a>
    </div>
    <div class="in_footer_lish fl">
    	<a href="" class="">
        	<div class="in_footer_lish_tu2"></div>
            <p class="in_footer_lish_zi">全部商品</p>
        </a>
    </div>
    <div class="in_footer_lish fl">
    	<a href="" class="">
        	<div class="in_footer_lish_tu3"></div>
            <p class="in_footer_lish_zi">订货清单</p>
        </a>
    </div>
    <div class="in_footer_lish fl">
    	<a href="" class="in_footer_on">
        	<div class="in_footer_lish_tu4"></div>
            <p class="in_footer_lish_zi">我的帐号</p>
        </a>
    </div>
  </div>
  <!-- end -->
</section>
</body>
</html>
</block>