<extend name="Lyout:menu"/>
<block name="admin">
<section>
  <div class="sdxq_con">
    <div class="sdx_head">
    	<a class="fl" href="{:U('index.php/Admin/MyNeed/index')}">我的需求单</a>
        <a class="sdx_head_on fl" href="{:U('index.php/Admin/MyNeed/singledemand')}">历史需求单</a>
    </div> 
        <foreach name='rows' item='row'>  
    <div class="sd_time">
    	<p>
           {$row.add_time} 需求单</p>
    </div>
         
    <div class="sd_sppx">
    	<div class="sd_sppx_lish">
            <p class="sd_sppx_head_2 fl">商品名</p>
            <p class="sd_sppx_head_3 fl">数量</p>
            <p class="sd_sppx_head_4 fl">具体需求</p>
        </div>
          
        <div class="sd_sppx_lish">
            <p class="sd_sppx_head_2 fl">{$row.name}</p>
            <p class="sd_sppx_head_3 fl">{$row.num}</p>
            <p class="sd_sppx_head_4 fl">{$row.info}</p>  
        </div>
   
  </div>
     </foreach>
  <!-- footer -->
  <div class="in_footer">
  	<div class="in_footer_lish fl">
    	<a href="" class="">
        	<div class="in_footer_lish_tu1"></div>
            <p class="in_footer_lish_zi">首页</p>
        </a>
    </div>
    <div class="in_footer_lish fl">
    	<a href="" class="">
        	<div class="in_footer_lish_tu2"></div>
            <p class="in_footer_lish_zi">全部商品</p>
        </a>
    </div>
    <div class="in_footer_lish fl">
    	<a href="" class="">
        	<div class="in_footer_lish_tu3"></div>
            <p class="in_footer_lish_zi">订货清单</p>
        </a>
    </div>
    <div class="in_footer_lish fl">
    	<a href="" class="in_footer_on">
        	<div class="in_footer_lish_tu4"></div>
            <p class="in_footer_lish_zi">我的帐号</p>
        </a>
    </div>
  </div>
  <!-- end -->
</section>
</block>
<block name='js'>
    <script type="text/javascript">
         $('.in_footer_lish_tu2').css({
            'background-position':'-40px 0px'
        });
        $('.in_footer_lish_tu1').css({
            'background-position':'0px 0px'
        });
        $('.in_footer_lish_tu3').css({
            'background-position':'-70px 0px'
        });
        $(function(){
                $('.in_footer_lish_tu4').css({
                    width:26+'px',
                    height:26+'px',
                    background:'url(__IMG__/icon.png)',
                    'background-position':'-105px 30px',
                    margin:0 +'auto',
                    'margin-top': 8+'px',
                });
            });
            </script>
</block>