<extend name="Lyout:comment"/>
<block name='admin'>
        <h1>
            <span class="action-span"><a href="{:U('index')}">管理员管理</a></span>
            <span class="action-span1"><a href="{:U('Admin/index')}">重庆火锅国际供应链股份有限公司   管理中心</a></span>
            <span id="search_id" class="action-span1"> - {$meta_title} </span>
        </h1>
        <div style="clear:both"></div>
        <div class="main-div">
            <form method="post" action="{:U()}" enctype="multipart/form-data" >
                <table cellspacing="1" cellpadding="3" width="100%">
                        <tr>
                            <td class="label">管理员名称</td>
                            <td>
                            <empty name="row">
                                <input type="text" name="username" maxlength="60" value="{$row.username}" />
                                <span class="require-field">*</span>
                            <else/>
                                {$row.username}
                            </empty>
                            </td>
                        </tr>
                        <empty name="row">
                            <tr>
                                <td class="label">密码</td>
                                <td>
                                    <input type="password" name="password" maxlength="60" value="{$row.password}" />
                                </td>
                            </tr>
                        </empty>
                        <tr>
                            <td class="label">邮箱</td>
                            <td>
                                <empty name="row">
                                    <input type="text" name="email" maxlength="60" value="{$row.email}" />
                                <else/>
                                    {$row.email}
                                </empty>
                            </td>
                        </tr>
                    <tr>
                        <td class="label">角色</td>
                        <td>
                            <foreach name="roles" item="role">
                                <label><input type="checkbox" name="role[]" maxlength="60" value="{$role.id}" <if condition="in_array($role['id'],$row['role_ids'])">checked="checked"</if>/>{$role.name}</label>
                            </foreach>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="label">额外权限</td>
                        <td>
                            <div id="perms"></div>
                            <ul id="treeDemo" class="ztree"></ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><br />
                            <input type="hidden" name='id' value="{$row.id}" />
                            <input type="submit" class="button" value=" 确定 " />
                            <input type="reset" class="button" value=" 重置 " />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
</block>
<block name='js'>
    <js href='__JS__/jquery.min.js'/>
    <js href='__ZTREE__/js/jquery.ztree.core.min.js'/>
    <js href='__ZTREE__/js/jquery.ztree.excheck.min.js'/>
    <js href='__LAYER__/layer.js'/>
   
</block>
<block name='footer'></footer>