<extend name='Lyout:comment'/>
<block name="css">
    <css href="__ZTREE__/css/zTreeStyle/zTreeStyle.css"/>
    <css href="__UPLOADIFY__/uploadify.css"/>
   
    <style type="text/css">
        .upload-pre-item img{
            width:150px;
        }

        .upload-pre-item{
            display:inline-block;
        }

        .upload-pre-item a{
            position:relative;
            top:5px;
            right:15px;
            float:right;
            color:red;
            font-size:16px;
            text-decoration:none;
        }
        
        ul.ztree{
            margin-top: 10px;
            border: 1px solid #617775;
            background: #f0f6e4;
            width: 220px;
            overflow-y: scroll;
            overflow-x: auto;
        }
    </style>

</block>
<block name='js'>
    <js href='__JS__/jquery.min.js'/>
     <js href='__UPLOADIFY__/jquery.uploadify.min.js'/>
    <js href='__LAYER__/layer.js'/>
    <js href='__ZTREE__/js/jquery.ztree.core.min.js'/>
    <js href='__UEDITOR__/ueditor.config.js'/>
    <js href='__UEDITOR__/ueditor.all.min.js'/>
    <js href='__UEDITOR__/lang/zh-cn/zh-cn.js'/>
     <script type='text/javascript'>
         //-------------------编辑器配置---------------------
        var ue = UE.getEditor('editor',{
            serverUrl :'{:U('Editor/ueditor')}'
        });
        //准备配置选项数据
        //-------------------------ztree配置--------------------
        var setting = {
                data: {
                simpleData: {
                enable: true,
                        pIdKey:'parent_id', //告知ztree父级分类标识不是pId而是parent_id
                }
            },
            callback:{
                onClick:function(event, tree_id, tree_node){
                    //获取点击节点的名字id,将名字放在input框中,将id放在隐藏域中
                    $('#goods_category_name').val(tree_node.name);
                    $('#goods_category_id').val(tree_node.id);
                },
                //当触发点击回调之前先判断是否是叶子节点.
                beforeClick:function(tree_id,tree_node){
                    if(tree_node.isParent){
                        layer.msg('请选择叶子节点',{icon:5,time:1000});
                        return false;
                    }
                },
            },
        };
        var zNodes = {$categories};
        $(function () {
        $(':input[name=status]').val([{$row.status | default = 1}]);
        var ztree_obj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        ztree_obj.expandAll(true);
        //编辑页面回显父级分类
        //1.根据父级节点的id找到ztree中对应的节点
        var category_node = ztree_obj.getNodesByParam("id", {$row.goods_category_id|default=0});
        //2.选中此节点
        if(category_node.length>0){
            category_node = category_node[0];
            ztree_obj.selectNode(category_node);
            //找到父级分类的名字和id放到指定的表单控件中
            $('#goods_category_name').val(category_node.name);
            $('#goods_category_id').val(category_node.id);
        }


        ///==============性感的分割线==================
        //1.选中是否在售
        $(':input[name=is_on_sale]').val([{$row.is_on_sale|default=1}]);
        //2.回显商品状态
        $('.goods_status').val({$row.goods_status});
        //3.选中是否在官网上显示
         $(':input[name=website]').val([{$row.website|default=0}]);
        });

        //---------------商品相册-------------------
        $('#gallery-upload').uploadify({
            'buttonText':'选择文件',
            'fileObjName':'file',
            'swf'      : '__UPLOADIFY__/uploadify.swf',
            'uploader' : '{:U("Uploads/upload",array("file"=>"goodsPic"))}',
            'onUploadSuccess':function(file_node,data){
                //将返回的字符串转为json对象
                data = $.parseJSON(data);
                if(data.status){
                    //成功了,将文件地址存到隐藏域中
                    var upload_img_box = $('.upload-img-box');
                    var html = '';
                    html += '<div class="upload-pre-item">';
                    html += '<input type="hidden" name="path[]" value="'+data.file_url+'"/>';
                    html += '<img src="__UPLOAD_URL_PREFIX__/'+data.file_url+'"/>';
                    html += '<a href="javascript:void(0);">×</a>';
                    html += '</div>';
                    $(html).appendTo(upload_img_box);
                    layer.msg('上传成功',{icon:6});
                }else{
                    layer.msg(data.msg,{icon:5});
                }
            },
            
        });
        
        //事件绑定,当点击×的时候将div整个移除
        $('.upload-img-box').on('click','.upload-pre-item a',function(){
            var node = $(this);
            var gallery_id = node.attr('data');
            var flag = true;//是否要删除div
            if(gallery_id){
                var url = '{:U("GoodsGallery/delete")}';
                var data = {id:gallery_id};
                $.getJSON(url,data,function(response){
                    if(response.status){
                        node.parent().remove();
                    }
                });
            }else{
                node.parent().remove();
            }
        });
        
        
        
        //---------------LOGO图片上传------------------
        $('#logo-upload').uploadify({
            'buttonText':'选择文件',
            'fileObjName':'file',
            'swf'      : '__UPLOADIFY__/uploadify.swf',
            'uploader' : '{:U("Upload/upload")}',
            'onUploadSuccess':function(file_node,data){
                //将返回的字符串转为json对象
                data = $.parseJSON(data);
                if(data.status){
                    //成功了,将文件地址存到隐藏域中
                    $('#logo').val(data.file_url);
                    $('#logo-priview').attr('src','__UPLOAD_URL_PREFIX__/' + data.file_url );
                    layer.msg('上传成功',{icon:6});
                }else{
                    layer.msg(data.msg,{icon:5});
                }
            },
            
        });
    </script>
</block>
<block name='admin'>
    <h1>
        <span class="action-span"><a href="{:U('index')}">商品列表</a>
        </span>
        <span class="action-span1"><a href="{:U('Goods/index')}">重庆火锅国际供应链股份有限公司   管理中心</a></span>
        <span id="search_id" class="action-span1"> - {$meta_title} </span>
        <div style="clear:both"></div>
    </h1>

    <div class="tab-div">
        <div id="tabbody-div">
            <form enctype="multipart/form-data" action="{:U()}" method="post">
                <table width="90%" id="general-table" align="center">
                    <tr>
                        <td class="label">商品名称：</td>
                        <td><input type="text" name="name" value="{$row.name}" size="30" />
                            <span class="require-field">*</span></td>
                    </tr>
                    <tr>
                        <td class="label">商品货号： </td>
                        <td>
                            <input type="text" name="sn" value="{$row.sn}" size="20"/>
                            <span id="goods_sn_notice"></span><br />
                            <span class="notice-span" id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">产地： </td>
                        <td>
                            <input type="text" name="origin" value="{$row.origin}" size="20"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">商品条码： </td>
                        <td>
                            <input type="text" name="bc" value="{$row.bc}" size="20"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">商品规格： </td>
                        <td>
                            <input type="text" name="norms" value="{$row.norms}" size="20"/> 
                             <span class="notice-span">如:24包 / 件 、10KG / 袋</span></td>
                        </td>
                    </tr>
                     <tr>
                        <td class="label">起订数量： </td>
                        <td>
                              <input type="text" name="norintro" value="{$row.norintro}" size="20"/> 
                             <span class="notice-span">最低起订单位</span></td>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">商品分类：</td>
                        <td>
                            <input type="hidden" name='goods_category_id' value='' id='goods_category_id'/>
                            <input type="text" id='goods_category_name' disabled='disabled'/>
                            <ul id="treeDemo" class="ztree"></ul>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="label">商品图片：</td>
                        
                        <td>
                            <input type="file" id="logo-upload" value="" size="20"/>
                            <input type="hidden" name="logo" id="logo" value="{$row.logo}"/>
                                    <div class="upload-pre-item">
                                        <img src="__UPLOAD_URL_PREFIX__/{$row.logo}"/>
                                       
                                  </div>
                  <span >更换LOGO依然会显示原来LOGO,保存后自动修改</span>
                        </td>
                       
                    </tr>
                   
                    <tr>
                        <td class="label">普通会员价格：</td>
                        <td>
                            <input type="text" name="market_price1" size="6" value="{$row.market_price1}"  />&nbsp;元
                        </td>
                    </tr>
                    <tr>
                        <td class="label">中级会员价格：</td>
                        <td>
                            <input type="text" name="market_price2" size="6" value="{$row.market_price2}"  />&nbsp;元
                        </td>
                    </tr>
                    <tr>
                        <td class="label">高级会员价格：</td>
                        <td>
                            <input type="text" name="market_price3" size="6" value="{$row.market_price3}" />&nbsp;元
                        </td>
                    </tr>
                    <tr>
                        <td class="label">库存：</td>
                        <td>
                            <input type="text" name="stock" size="8" value="{$row.stock|default=100}"/>
                        </td>
                    </tr>
                    <tr>
                    <td class="label">是否上架：</td>
                    <td>
                        <input type="radio" name="is_on_sale" value="1" /> 是
                        <input type="radio" name="is_on_sale" value="0" /> 否
                    </td>
                    </tr>
                    <tr>
                    <td class="label">是否官网显示：</td>
                    <td>
                        <input type="radio" name="website" value="1" /> 是
                        <input type="radio" name="website" value="0" /> 否
                    </td>
                    </tr>
                    <tr>
                        <td class="label">推荐排序：</td>
                        <td>
                            <input type="text" name="sort" size="5" value="{$row.sort|default=20}"/>
                        </td>
                    </tr>


                    <tr>
                        <td class="label">商品介绍</td>
                        <td>
                            <textarea name="intro" cols="40" rows="3">{$row.intro}</textarea>
                        </td>
                    </tr>

                    <tr>
                        <td class="label">商品详细描述：</td>
                        <td>
                            <textarea name="content" cols="40" rows="3" id='editor'>{$row.content}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><hr /></td>
                    </tr>

                    <tr>
                        <td class="label">商品相册：</td>
                        <td>
                             <div class="upload-img-box">
                                <foreach name='row.paths' item='path'>
                                    <div class="upload-pre-item">
                                        <img src="__UPLOAD_URL_PREFIX__/{$path.path}"/>
                                        <a href="javascript:;" data='{$path.id}'>×</a>
                                    </div>
                                </foreach>
                            </div>
                            <div>
                                <input type="file" id='gallery-upload'/>
                            </div>
                        </td>
                    </tr>
                    
                </table>
                <div class="button-div">
                    <input type="hidden" name='id' value='{$row.id}'/>
                    <input type="submit" value=" 确定 " class="button"/>
                    <input type="reset" value=" 重置 " class="button" />
                </div>
            </form>
        </div>
    </div>
</block>