<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" type="text/css" href="css/zzsc.css">
<script type="text/javascript" src="__JS__/zp.js"></script>
<script type="text/javascript" src="__JS__/common1.js"></script>

</head>
<body>
<div class="wrap">
  <div class="page">
    <div class="hb1" style="opacity:1; height: auto;width:100%;display:block;overflow:hidden;color:white;font-size:0;"> 
    	<div><img src="__IMG__/index_01.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_02.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_03.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_04.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_05.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_06.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_07.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_08.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_09.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_10.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_11.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_12.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_13.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_14.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_15.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_16.jpg" style="width:100%;height:auto; "></div> 
        <div><img src="__IMG__/index_17.jpg" style="width:100%;height:auto; "></div>
    	<div><img src="__IMG__/index_18.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_19.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_20.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_21.jpg" style="width:100%;height:auto; "></div> 
    	<div><a href="{:U('/index.php/admin/Goods/showAll?name=%E8%81%9A%E5%91%B3')}"><img src="__IMG__/index_22.jpg" style="width:100%;height:auto; "></a></div> 
        <div><img src="__IMG__/index_23.jpg" style="width:100%;height:auto; "></div>
    	<div><img src="__IMG__/index_24.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_25.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_26.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_27.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_28.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_29.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_30.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_31.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_32.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_33.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_34.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_35.jpg" style="width:100%;height:auto; "></div> 
    	<div><a href="{:U('index.php/admin/Goods/showAll?name=耗儿鱼')}"><img src="__IMG__/index_36.jpg" style="width:100%;height:auto; "></a></div> 
    	<div><img src="__IMG__/index_37.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_38.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_39.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_40.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_41.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_42.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_43.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_44.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_45.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_46.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_47.jpg" style="width:100%;height:auto; "></div> 
    	<div><img src="__IMG__/index_48.jpg" style="width:100%;height:auto; "></div> 
    </div>
  </div>
</div>
</body>
</html>