<extend name="Lyout:comment"/>
<block name='admin'>
        <h1>
            <span class="action-span"><a href="{:U('index')}">会员需求管理</a></span>
            <span class="action-span1"><a href="{:U('Admin/index')}">重庆火锅国际供应链股份有限公司   管理中心</a></span>
            <span id="search_id" class="action-span1"> - {$meta_title} </span>
        </h1>
        <div style="clear:both"></div>
        <div class="main-div">
            <form method="post" action="{:U()}" enctype="multipart/form-data" >
                <table cellspacing="1" cellpadding="3" width="100%">
                        <tr>
                            <td class="label">会员名字</td>
                            <td>
                                <input type="text" name="member" maxlength="60" value="{$row.member}" />
                                <span class="require-field">*</span>
                            </td>
                        </tr>
                       
                            <tr>
                                <td class="label">会员电话</td>
                                <td>
                                    <input type="text" name="tel" maxlength="60" value="{$row.tel}" />
                                     <span class="require-field">*</span>
                                </td>
                            </tr>
                        
                             <tr>
                                <td class="label">需求名字</td>
                                <td>
                                    <input type="text" name="name" maxlength="60" value="{$row.name}" />
                                     <span class="require-field">*</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">需求数量</td>
                                <td>
                                    <input type="text" name="num"  value="{$row.num}" />
                                     <span class="require-field">公斤/件</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">具体需求</td>
                                <td>
                                    <textarea  name="info"  cols="50" rows="10" >
                                        {$row.info}
                                    </textarea>
                                    
                                </td>
                            </tr>
                    <tr>
                        <td colspan="2" align="center"><br />
                            <input type="hidden" name='id' value="{$row.id}" />
                            <input type="submit" class="button" value=" 确定 " />
                            <input type="reset" class="button" value=" 重置 " />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
</block>
<block name='js'>
    <js href='__JS__/jquery.min.js'/>
    <js href='__ZTREE__/js/jquery.ztree.core.min.js'/>
    <js href='__ZTREE__/js/jquery.ztree.excheck.min.js'/>
    <js href='__LAYER__/layer.js'/>
   
</block>
<block name='footer'></footer>