<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="__CSS__/index.css" />
<script src="__JS__/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/TouchSlide.1.1.js" type="text/javascript" charset="utf-8"></script>
<script src="__JS__/public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<section>
  <div class="na_con">
      <div class="na_head">联系人</div>
      <div class="na_shuru">
      	<div class="na_shuru_90">
        	<p class="na_shuru_zi fl">姓名</p>
            <p class="na_shuru_input fl"><input type="text" placeholder="请填写收货人姓名" /></p>
        </div>
      </div>
      <div class="na_shuru">
      	<div class="na_shuru_90">
        	<p class="na_shuru_zi fl">电话</p>
            <p class="na_shuru_input fl"><input type="text" placeholder="请填写收货手机号码" /></p>
        </div>
      </div>
      <div class="na_shuru">
      	<div class="na_shuru_90">
        	<p class="na_shuru_zi fl">店铺名</p>
            <p class="na_shuru_input fl"><input type="text" placeholder="请填写店铺名称" /></p>
        </div>
      </div>
      <div class="na_shuru">
      	<div class="na_shuru_90">
        	<p class="na_shuru_zi fl">地址</p>
            <p class="na_shuru_input fl"><input type="text" placeholder="请填写您的详细收货地址" /></p>
        </div>
      </div>
  
      <div class="na_head">联系人</div>
	  <div class="na_shuru">
      	<div class="na_shuru_90">
        	<p class="na_shuru_zi fl">发票抬头</p>
            <p class="na_shuru_input fl"><input type="text" placeholder="请填写发票抬头" /></p>
        </div>
      </div>
      <div class="na_shuru">
      	<div class="na_shuru_90">
        	<p class="na_shuru_zi fl">税号</p>
            <p class="na_shuru_input fl"><input type="text" placeholder="请填写税号" /></p>
        </div>
      </div>
  </div>
  
  <!-- 红色区域 -->
  <div class="na_dianjick">
    <a class="na_shanchu fl" href="">
    	<div class="na_sccon">
            <p class="na_tubiao fl"></p>
            <p class="na_ziti fl">删除地址</p>
        </div>    
    </a>
    <a class="na_baocun fl" href="">
    	<div class="na_sccon">
            <p class="na_tubiao2 fl"></p>
            <p class="na_ziti2 fl">保存地址</p>
        </div> 
    </a>
  </div>
  <!-- end --> 
  <!-- footer -->
  <div class="in_footer">
  	<div class="in_footer_lish fl">
    	<a href="" class="">
        	<div class="in_footer_lish_tu1"></div>
            <p class="in_footer_lish_zi">首页</p>
        </a>
    </div>
    <div class="in_footer_lish fl">
    	<a href="" class="">
        	<div class="in_footer_lish_tu2"></div>
            <p class="in_footer_lish_zi">全部商品</p>
        </a>
    </div>
    <div class="in_footer_lish fl">
    	<a href="" class="">
        	<div class="in_footer_lish_tu3"></div>
            <p class="in_footer_lish_zi">订货清单</p>
        </a>
    </div>
    <div class="in_footer_lish fl">
    	<a href="" class="in_footer_on">
        	<div class="in_footer_lish_tu4"></div>
            <p class="in_footer_lish_zi">我的帐号</p>
        </a>
    </div>
  </div>
  <!-- end -->
</section>
</body>
</html>
