<extend name='Lyout:menu'/>
<block name='admin'>
<section> 
	<div class="pc_bjtu">
    	<div class="pc_bjtu_toux"><img src="__IMG__/touxiang.jpg" /></div>
        <p class="pc_bjtu_title">{$member.name}( 
            <if condition="$member.status eq 1">
                审核通过
                <elseif condition="$member.status eq -1"/>
                待审核
                <elseif condition="$member.status eq ''"/>
                <a href="{:U('index.php/Admin/Member/login')}">请登录</a>
                <else />
                审核未通过
            </if>
            
            )</p>
        
    </div>  
    <div class="pc_user">
    	<a href="{:U('index.php/Admin/Myprofile/MyProfile')}">
        	<p class="pc_user_tu1 fl"></p>
            <p class="pc_user_zi fl">账户管理</p>
            <p class="set_dizhi_jiantou pc_top_10 fr"></p>
        </a>
    </div>
    <div class="pc_user">
    	<a href="{:U('index.php/Admin/OrderInfo/setlist')}">
        	<p class="pc_user_tu2 fl"></p>
            <p class="pc_user_zi fl">我的订单</p>
            <p class="set_dizhi_jiantou pc_top_10 fr"></p>
        </a>
    </div>
    <div class="pc_user">
    	<a href="{:U('index.php/Admin/Wallet/wallet')}">
        	<p class="pc_user_tu3 fl"></p>
            <p class="pc_user_zi fl">我的钱包</p>
            <p class="set_dizhi_jiantou pc_top_10 fr"></p>
        </a>
    </div>
    <div class="pc_user">
    	<a href="{:U('index.php/Admin/Address/index')}">
        	<p class="pc_user_tu4 fl"></p>
            <p class="pc_user_zi fl">地址发票</p>
            <p class="set_dizhi_jiantou pc_top_10 fr"></p>
        </a>
    </div>
    <div class="pc_user">
    	<a href="{:U('index.php/Admin/MyNeed/index')}">
        	<p class="pc_user_tu5 fl"></p>
            <p class="pc_user_zi fl">采购需求</p>
            <p class="set_dizhi_jiantou pc_top_10 fr"></p>
        </a>
    </div>
	<div class="pc_user">
    	<a href="">
        	<p class="pc_user_tu6 fl"></p>
            <p class="pc_user_zi fl">售后规则</p>
            <p class="set_dizhi_jiantou pc_top_10 fr"></p>
        </a>
    </div>
    <div class="pc_user">
    	<a href="{:U('index.php/Admin/Member/logout')}">
        	<p class="pc_user_tu4 fl"></p>
            <p class="pc_user_zi fl">登录|注销</p>
            <p class="set_dizhi_jiantou pc_top_10 fr"></p>
        </a>
    </div>
</section>
</block>
<block name="js">
    <script type="text/javascript">
        $('.in_footer_lish_tu1').css({
            'background-position':'0px 0px',
        });
        $('.in_footer_lish_tu3').css({
            'background-position':'-72px 0px',
        });
        $('.in_footer_lish_tu2').css({
            'background-position':'-40px 0px',
        });
        $(function(){

            $('.in_footer_lish_tu4').css({
                width:26+'px',
                height:26+'px',
                background:'url(__IMG__/icon.png)',
                'background-position':'-103px 30px',
                margin:0 +'auto',
                'margin-top': 8+'px',
            });
        });
    </script>
</block>
