<extend name="Lyout:comment"/>
<block name='admin'>
<h1>
    <span class="action-span1"><a href="#">火锅国际供应链股份有限公司</a> </span>
    <span id="search_id" class="action-span1"></span>
    <div style="clear:both"></div>
</h1>
<div class="list-div">
    <table cellspacing='1' cellpadding='3'>
        <tr>
            <th colspan="4" class="group-title">订单统计信息</th>
        </tr>
        <tr>
            <td width="20%"><a href="#">待发货订单:</a></td>
            <td width="30%"><strong style="color:red">4</strong></td>
            <td width="20%"><a href="#">未确认订单:</a></td>
            <td width="30%"><strong>2</strong></td>
        </tr>
        <tr>
            <td><a href="#">待支付订单:</a></td>
            <td><strong>3</strong></td>
            <td><a href="#">已成交订单数:</a></td>
            <td><strong>3</strong></td>
        </tr>
        <tr>
            <td><a href="#">新缺货登记:</a></td>
            <td><strong>2</strong></td>
            <td><a href="#">退款申请:</a></td>
            <td><strong>0</strong></td>
        </tr>
        <tr>
            <td><a href="#">部分发货订单:</a></td>
            <td><strong>1</strong></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<!-- end order statistics -->
<br />
<!-- start goods statistics -->
<div class="list-div">
    <table cellspacing='1' cellpadding='3'>
        <tr>
            <th colspan="4" class="group-title">实体商品统计信息</th>
        </tr>
        <tr>
            <td width="20%">商品总数:</td>
            <td width="30%"><strong>20</strong></td>
            <td width="20%"><a href="#">库存警告商品数:</a></td>
            <td width="30%"><strong style="color:red">7</strong></td>
        </tr>
        <tr>
            <td><a href="#">新品推荐数:</a></td>
            <td><strong>11</strong></td>
            <td><a href="#">精品推荐数:</a></td>
            <td><strong>10</strong></td>
        </tr>
        <tr>
            <td><a href="#">热销商品数:</a></td>
            <td><strong>11</strong></td>
            <td><a href="#">促销商品数:</a></td>
            <td><strong>2</strong></td>
        </tr>
    </table>
</div>
</block>
<block name="footer"></block>