<extend name='Lyout:menu'/>
 
      <block name='admin'>
<section>
  <!-- 头部 -->
  <div class="se_head">
    <div class="se_head_input">
      <div class="se_head_input_tu fl"></div>
      <div class="se_head_input_input fl">
        <input type="text" id="search"/>
      </div>
    </div>
  </div>
<!--  一级分类-->
  <div class="se_cpname">
    <ul >
         <foreach name="goodscategory" item="val">
             <if condition="($goodscategory['parent_id'] eq 0)">
           <li class="category <if condition="($val['id'] eq 1)">se_cpname_on</if>" id="{$row.id}"><a href="javascript:void(0)">{$val.name}</a></li>
             </if>
           </foreach>
    </ul>
  </div>
       
  <!--产品中部-->
<div id="pro_left">
    <div class="pro_left fl pro_left_lish1" >
    <foreach name="goodscategory" item="v" key="k">
        <if condition="($v['parent_id'] eq 1)">
          <div class="pro_left_lish <if condition="($k eq 1)">pro_on</if>"> <a href="javascript:;" data="{:$v['id']}">{:$v['name']} </a> </div>
        </if>
    </foreach>
</div>
    <div class="pro_left fl">
        <foreach name="goodscategory" item="v" key="k">
            <if condition="($v['parent_id'] eq 2)">
                <div class="pro_left_lish "> <a href="javascript:;" data="{:$v['id']}">{:$v['name']} </a> </div>
            </if>
        </foreach>
    </div>
    <div class="pro_left fl">
        <foreach name="goodscategory" item="v" key="k">
            <if condition="($v['parent_id'] eq 3)">
                <div class="pro_left_lish "> <a href="javascript:;" data="{:$v['id']}">{:$v['name']} </a> </div>
            </if>
        </foreach>
    </div>
    <div class="pro_left fl">
        <foreach name="goodscategory" item="v" key="k">
            <if condition="($v['parent_id'] eq 4)">
                <div class="pro_left_lish "> <a href="javascript:;" data="{:$v['id']}">{:$v['name']} </a> </div>
            </if>
        </foreach>
    </div>
</div>
  <div class="pro_right fr"> 
    <!--产品列表-->
  </div>
  <!-- end --> 
  <!-- 红色区域 -->
    <if condition="(session('MEMBER_INFO') neq '')">
        <div class="cp_dianjick">
            <p class="pro_jiage  fl js_heji">合计金额&nbsp;&nbsp;￥0元</p>
            <a class="pro_qingdan fl" href="javascript:;">加入清单</a>
        </div>
        <else/>
        <a class="is_cp_dianjick" href="{:U('index.php/Admin/member/login')}">点击查看商品价格</a>
    </if>
</section>
      </block>
    <block name="js">
         <js href="__LAYER__/layer.js"/>
        <script type="text/javascript">
            
            $(function(){
                $('.pro_left_lish1').css('display', 'block').siblings().css('display', 'none');
                $('.pro_left_lish').children().first().addClass('pro_on').siblings().removeClass('pro_on')
               $('.se_cpname').children().children().on('click',function(){
                   $(this).first().attr('class','se_cpname_on').siblings().removeClass('se_cpname_on');
                   var index=$(this).index();
                   $('#pro_left').children().each(function(k,v){
                       if(index==$(this).index()){
                           var id=$(this).children().children().attr('data');
                           $(this).children().addClass('pro_on').siblings().removeClass('pro_on')
                           $.getJSON("{:U('index.php/Admin/Goods/goodsList')}",{id:id},function(data){
                               fordata(data);
                           });
                           $(this).css( 'display', 'block').siblings().css('display', 'none')
                       }
                   });
               });
                $('.pro_left_lish').on('click',function(){
                    $(this).addClass('pro_on').siblings().removeClass('pro_on')
                   var id=$(this).children().attr('data');
                    $.getJSON("{:U('index.php/Admin/Goods/goodsList')}",{id:id},function(data){
                        fordata(data);
                    });
                });
            });
            $.getJSON("{:U('index.php/Admin/Goods/goodsList')}",{id:8},function(data){
                fordata(data);
            });
            function fordata(data){
                $('.pro_right').children().remove();
                for(var i=0;i<data.length;i++){
                    var div='  <div class="pro_lish">';
                    div+='<input type="hidden" name="id" value="'+data[i]["id"]+'" />';
                    div+='  <div class="pro_lish_tu fl"> <img src="__UPLOAD_URL_PREFIX__/'+data[i]["logo"]+'"> </div>';
                    div+='  <div class="pro_lish_text fl">';
                    div+='    <p class="pro_lish_text_name">'+data[i]["name"]+'</p>';
                    div+='   <p class="pro_lish_text_xq">产地 ：'+(data[i]["origin"]?data[i]["origin"]:'未知 ')+'    规格:'+data[i]["norintro"]+'</p>';
                    div+='   <p class="pro_lish_text_xq">'+data[i]["intro"]+'</p>';
                    div+='   <p class="pro_lish_text_xq">'+data[i]["norintro"]+'起订</p>';
                    <if condition="(session('MEMBER_INFO') neq '')">
                        div+='  <p class="pro_lish_text_jiage fr js_danjia">'+data[i]["market_price{:session('MEMBER_INFO')['rank']}"]+'元/件</p>';
                    </if>
                    div+='  <div class="se_lish_text_shuliang fl js_num"> <span class="sy_minus fl" id="sy_minus_gid1">-</span>';
                    div+='       <input type="text" name="num" class="sy_num fl" value="0" >';
                    div+='          <span class="sy_plus fl" id="sy_plus_gid1">+</span>';
                    div+='   </div>';
                    div+='     <p style="display:none;" class="js_bb">需支付￥0元</p>';
                    div+='  </div></div>';
                    $('.pro_right').append(div);
                }
            }
            /**
             * 点击按钮 添加清单列表
             */
            $('.pro_qingdan').live('click',function(){
                var data={};
                var goods_name='';
                var goods_name1='';
                $('.pro_lish').each(function(k,v){
                    if($(this).children().children().children('input').val()>0){
                    if($(this).children().children().children('input').val()>=parseInt($($(this).children().children('p')[3]).text())){
                        data[k]={'member_id':'<?php echo session("MEMBER_INFO")["id"] ?>','goods_id':$(this).children('input').val(),'num':$(this).children().children().children('input').val()};
                        $(this).children().children().children('input').val(0);
                        goods_name1+=$($(this).children().children('p')[0]).text()+',';
                    }else{
                            goods_name+=$($(this).children().children('p')[0]).text()+',';
                        }
                    }
                });
                $.post("{:U('index.php/Admin/GoodsList/add')}",data,function(da){
                    if(goods_name){
                      
                         layer.msg(goods_name+'少于起订数量下单失败');
                    }
                    if(da){
                   
                          layer.msg(goods_name1+'添加成功');
                    }
                });
            });
            /**
             * 获取用户输入的商品数量
             */
            $('body').on('change','.sy_num',function(){
                var reg = new RegExp("^[0-9]*$");
                var obj = $(this).val();
                if(reg.test(obj)){
                var pl = $(".js_heji:last");
                var reg = /(.*[\￥]\s*)([\+\d\.]+)(\s*元)/g;
                pc = $(this).closest(".js_num");
                var price = parseFloat (pc.prev(".js_danjia").text().replace(reg,'$2')) * $(this).val ();
                pc.next(".js_bb").text (pc.next(".js_bb").text().replace(reg, "$1" + price + "$3"));
                var sum = 0;
                $(".js_num").next(".js_bb").each(function (i, dom)
                {
                    sum += parseFloat ($(this).text().replace(reg, "$2"));
                });
                pl.text(pl.text().replace(reg, "$1" + sum + "$3"));
                }else{
                  
                    layer.msg('请输入数字');
                }
            });
            /**
             * 按回车键   搜索用户查询信息
             */
            $(document).keydown(function(event){
                var search=$('#search').val();
                if(event.keyCode==13){
                    window.location.href='<?php echo U("index.php/admin/Goods/showAll") ?>'+'?name='+search;
                }
            });
        </script>
    </block>
    

