<extend name='Lyout:menu'/>
<block name='admin'>
<section>
	<!-- 头部 -->
  <div class="se_head">
    <div class="se_head_input">
    	<div class="se_head_input_tu fl"></div>
    	<div class="se_head_input_input fl"><input type="text" name="name" id="search" value="{:$_GET['name']}"/>

        </div>
    </div>
  </div>
  <!--搜索结果-->
  <div class="se_con">
 	<!-- 产品列表 -->
      <if condition="($goodsAll eq '')">
          <h1 style="color: #c2ccd1" align="center">没有找到您要查找的商品</h1>
      </if>
      <foreach name="goodsAll" item="goodsAll">
          <div class="pro_lish">
              <div class="pro_lish_tu fl">  <img src="__UPLOAD_URL_PREFIX__/{:$goodsAll['logo']}" /></div>
              <div class="pro_lish_text fl">
                  <input type="hidden" name="id" value="{:$goodsAll['id']}" />
                  <p class="pro_lish_text_name">{:$goodsAll['name']}</p>
                  <p class="pro_lish_text_xq">产地 ：{:$goodsAll['origin']?$goodsAll['origin']:'未知'}    规格：{:$goodsAll['norms']}件</p>
                  <p class="pro_lish_text_xq">{:$goodsAll['intro']}</p>
                  <p class="pro_lish_text_xq">{:$goodsAll['norintro']}起订</p>
                  <if condition="(session('MEMBER_INFO') neq '')">
                  <p class="pro_lish_text_jiage fr js_danjia">{:$goodsAll['market_price'.session('MEMBER_INFO')['rank']]}元<span>/件</span> </p>
                  </if>
                  <div class="se_lish_text_shuliang fl js_num"> <span class="sy_minus fl" id="sy_minus_gid1">-</span>
                      <input type="text" class="sy_num fl" value="0">
                      <span class="sy_plus fl" id="sy_plus_gid1">+</span>
                  </div>
                  <p style="display:none;" class="js_bb">需支付￥0元</p>
              </div>
          </div>
      </foreach>
    <!-- end -->
   </div>
  <!-- end -->
  <!-- 红色区域 -->
    <if condition="(session('MEMBER_INFO') neq '')">
        <div class="cp_dianjick">
            <p class="pro_jiage  fl js_heji">合计金额&nbsp;&nbsp;￥0元</p>
            <a class="pro_qingdan fl" href="javascirpt:;">加入清单</a>
        </div>
        <else/>
        <a class="is_cp_dianjick" href="{:U('index.php/Admin/member/login')}">点击查看商品价格</a>
    </if>
  <!-- end -->
</section>
</block>
<block name="js">
     <js href="__LAYER__/layer.js"/>
    <script type="text/javascript">
        $(document).keydown(function(event){
            var search=$('#search').val();
            if(event.keyCode==13){
                window.location.href='<?php echo U("index.php/admin/Goods/showAll") ?>'+'?name='+search;
            }
        });
        /**
         * 点击按钮 添加清单列表
         */
        $('.pro_qingdan').live('click',function(){
            var data={};
            var goods_name='';
            var goods_name1='';
            $('.pro_lish').each(function(k,v){
                console.debug($(this).children().children().children('input').val());
                if($(this).children().children().children('input').val()>0) {
                    if (parseInt($(this).children().children().children('input').val()) >= parseInt($($(this).children().children('p')[3]).text())) {
                        data[k] = {
                            'member_id': '<?php echo session("MEMBER_INFO")["id"] ?>',
                            'goods_id': $(this).children().children('input').val(),
                            'num': $(this).children().children().children('input').val()
                        };
                        goods_name1+=$($(this).children().children('p')[0]).text()+',';
                        $(this).children().children().children('input').val(0);
                    }else{
                        goods_name+=$($(this).children().children('p')[0]).text()+',';
                    }
                }
            });
            $.post("{:U('index.php/Admin/GoodsList/add')}",data,function(da){
                if(da){
                    // alert(goods_name1+'添加成功');
                    layer.msg(goods_name1+'添加成功');
                }else if(goods_name){
                    // alert(goods_name+'少于起订数量下单失败');
                    layer.msg(goods_name+'少于起订数量下单失败');
                }
            });
        });
        /**
         * 获取用户输入的商品数量
         */
        $('.sy_num').on('change',function(){
            var reg = new RegExp("^[0-9]*$");
            var obj = $(this).val();
            if(reg.test(obj)) {
                var pl = $(".js_heji:last");
                var reg = /(.*[\￥]\s*)([\+\d\.]+)(\s*元)/g;
                pc = $(this).closest(".js_num");
                var price = parseFloat(pc.prev(".js_danjia").text().replace(reg, '$2')) * $(this).val();
                pc.next(".js_bb").text(pc.next(".js_bb").text().replace(reg, "$1" + price + "$3"));
                var sum = 0;
                $(".js_num").next(".js_bb").each(function (i, dom) {
                    sum += parseFloat($(this).text().replace(reg, "$2"));
                });
                pl.text(pl.text().replace(reg, "$1" + sum + "$3"));
            }else{
                //alert('请输入数字');
                 layer.msg('请输入数字');
            }
        });
        $('.in_footer_lish_tu2').css({
            'background-position':'-40px 0px',
        });
    </script>
</block>