<extend name='Lyout:menu'/>
<block>
    <css href="__CSS__/index.css" />
</block>
<block name='admin'>
<section>
	<!-- 头部 -->
  <div class="se_head">
    <div class="se_head_input">
    	<div class="se_head_input_tu fl"></div>
    	<div class="se_head_input_input fl"><input type="text" name="name" id="search" value="{:$_GET['name']}"/>

        </div>
    </div>
  </div>
  <!--搜索结果-->
  <div class="se_con">
 	<!-- 产品列表 -->
      <foreach name="goodsAll" item="goodsAll">
    <div class="se_lish">
        <div class="se_lish_tu fl">
            <img src="__UPLOAD_URL_PREFIX__/{:$goodsAll['logo']}" />
        </div>
            <div class="se_lish_text fl">
                <p class="se_lish_text_name">{:$goodsAll['name']}</p>
                <p class="se_lish_text_xq">产地 ：<if condition="($goodsAll['origin'] neq '')"> {:$goodsAll['origin']}</if> 未知 规格：{:$goodsAll['norms']}件</p>
                <p class="se_lish_text_xq">用于火锅、煲汤</p>
                <p class="se_lish_text_xq">{:$goodsAll['norintro']}起订</p>
                <div class="se_lish_text_shuliang fl">
                    <span class="sy_minus fl" id="sy_minus_gid1">-</span>
                    <input type="text" class="sy_num fl" type="text" value="0"/>
                    <span class="sy_plus fl" id="sy_plus_gid1">+</span>
                </div>
                <if condition="(session('MEMBER_INFO') neq '')">
                <p class="se_lish_text_jiage fl">{:$goodsAll['market_price']}元<span>/件</span> </p>
                    </if>
            </div>
    </div>
      </foreach>
    <!-- end -->
   </div>
  <!-- end -->
  <!-- 红色区域 -->
    <if condition="(session('MEMBER_INFO') neq '')">
        <div class="cp_dianjick">
            <p class="pro_jiage  fl js_heji">合计金额&nbsp;&nbsp;￥0元</p>
            <a class="pro_qingdan fl" href="">加入清单</a>
        </div>
        <else/>
        <a class="is_cp_dianjick" href="{:U('index.php/Admin/member/login')}">点击查看商品价格</a>
    </if>
  <!-- end -->
</section>
</block>
<block name="js">
    <script type="text/javascript">
        $(document).keydown(function(event){
            var search=$('#search').val();
            if(event.keyCode==13){
                window.location.href='<?php echo U("index.php/admin/Goods/showAll") ?>'+'?name='+search;
            }
        });
        /**
         * 点击按钮 添加清单列表
         */
        $('.pro_qingdan').live('click',function(){
            var data={};
            $('.pro_lish').each(function(k,v){
                if($(this).children().children().children('input').val()>0){
                    data[k]={'member_id':'<?php echo session("MEMBER_INFO")["id"] ?>','goods_id':$(this).children().children('input').val(),'num':$(this).children().children().children('input').val()};
                }
            });
            $.post("{:U('index.php/Admin/GoodsList/add')}",data,function(da){
                console.debug(data);
                if(da){
                    alert(da+'添加成功');
                }else{
                    alert(da+'请选择数量');
                }
            });
        });
    </script>
</block>