<!DOCTYPE html>
<html>
<head>
<extend name="Lyout:comment"/>
<block name="admin">
<body style="background:#fff;">
<section> 
  <!-- banner -->
  <div id="slideBox" class="slideBox">
    <div class="bd">
      <ul>
        <li><a title=""><img src="__IMG__/2j.jpg"  alt="" /></a></li>
      </ul>
    </div>
  </div> 
  <!-- end --> 
  <div class="lo_bj">
  	<a href="login.html" class="lo_bottom fl">登录</a>
    <a href="registered.html" class="fl">注册</a>
  </div>
 
  <div class="lo_login">
  		<div class="lo_login_kk"><input type="text" placeholder="手机号/用户名" /></div>
        <div class="lo_login_kk"><input type="password" placeholder="请输入密码" /></div>
        <p class="lo_login_reg">还没有帐号？<a href="registered.html">立即注册</a></p>
  </div>
  
  <a class="lo_anniu" href="">登录</a>
  

</section>
</body>
</html>
</block>