<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="css/index.css" />
<script src="js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/TouchSlide.1.1.js" type="text/javascript" charset="utf-8"></script>
</head>
<body style="background:#fff;">
<section> 
  <!-- banner -->
  <div id="slideBox" class="slideBox">
    <div class="bd">
      <ul>
        <li><a title=""><img src="images/2.jpg"  alt="" /></a></li>
      </ul>
    </div>
  </div> 
  <!-- end --> 
  <div class="lo_bj">
  	<a href="login.html" class="fl">登录</a>
    <a href="registered.html" class="lo_bottom fl">注册</a>
  </div>
 
  <div class="reg_registered">
    <div class="reg_registered_kk"><input type="text" placeholder="真实姓名" /></div>
    <div class="reg_registered_kk"><input type="text" placeholder="品牌名" /></div>
    <div class="reg_registered_kk"><input type="text" placeholder="营业执照名" /></div> 
    <div class="reg_registered_file fl">
    	<a href="javascript:void(0);" class="link">点击上传营业执照</a>
    	<input type="file" class="uploadFiless" name="upload" onchange="getFile(this,'copyFile')" />
    </div>
    <div class="reg_registered_tu fl"><img src="images/cpt.jpg" /></div>
      
  </div>
  
  <a class="lo_anniu" href="registered_ok.html">确认注册</a>

</section>
</body>
</html>
