 <extend name='Lyout:comment'/>
  <block name="admin">
<body style="background:#fff;">
<section> 
  <!-- banner -->
  <div id="slideBox" class="slideBox">
    <div class="bd">
      <ul>
        <li><a title=""><img src="__IMG__/2j.jpg"  alt="" /></a></li>
      </ul>
    </div>
  </div> 
  <!-- end --> 
  <div class="lo_bj">
  	<a href="login.html" class="fl">登录</a>
    <a href="registered.html" class="lo_bottom fl">注册</a>
  </div>
 <form action="{:U('index.php/Admin/Member/registeredNext')}" enctype="multipart/form-data"  method="post" id='signup' >
    <div class="reg_registered">
    <div class="reg_registered_kk"><input type="text" placeholder="真实姓名" name='name' /></div>
    <div class="reg_registered_kk"><input type="text" placeholder="品牌名" name='brand'/></div>
    <div class="reg_registered_kk"><input type="text" placeholder="营业执照名" name='peimit'/></div> 
    <div class="reg_registered_file fl">
<!--    	<a href="javascript:void(0);" class="link">点击上传营业执照</a>-->
    	<input type="file" multiple="multiple" class='link'  name='picture[]' value='上传营业执照' />
    </div>
<!--    <div class="reg_registered_tu fl"><img src="images/cpt.jpg" /></div>-->
  </div>
     <input type='submit' class='lo_anniu' value='确认注册'>
 </form>
</section>
</body>
  </block>
 
