<extend name='Lyout:comment'/>
<block name='admin'>
<section>
  <div class="set_con">
  	  <div class="sdx_head">
    	<a class="fl">订单状态</a>
        <a class="sdx_head_on fl">订单详情</a>
      </div>
      <div class="os_head">
		<div class="os_conter">
        	<p class="os_conter_qingdan fl">您的订货清单</p>
            <p class="os_conter_jiage fr">价格总计 ￥1800</p>
        </div>
      </div> 
      <div class="set_cplish">
        <div class="set_cplish_tu fl"><img src="images/cpt.jpg" /></div>
        <div class="set_cplish_text fl">
            <div class="set_cplish_text_title">
                <p class="set_cplish_text_title_1 fl">如康雪花牛仔骨（精选级）</p>
                <p class="set_cplish_text_title_2 fr">￥917.9</p>
            </div>
            <p class="set_cplish_text_gongjin"><b>91.79</b>元/公斤<span>x 10</span></p>
            <p class="set_cplish_text_gongjin">（10公斤起订）</p>
        </div>
      </div>
      <div class="set_cplish">
        <div class="set_cplish_tu fl"><img src="images/cpt.jpg" /></div>
        <div class="set_cplish_text fl">
            <div class="set_cplish_text_title">
                <p class="set_cplish_text_title_1 fl">如康雪花牛仔骨（精选级）</p>
                <p class="set_cplish_text_title_2 fr">￥917.9</p>
            </div>
            <p class="set_cplish_text_gongjin"><b>91.79</b>元/公斤<span>x 10</span></p>
            <p class="set_cplish_text_gongjin">（10公斤起订）</p>
        </div>
      </div>
      <div class="set_alldingdan">
        <a href="">查看全部订货清单</a>
      </div>
      
      <div class="set_head ma_matop20">
        <p>您的收货地址</p>
      </div>
      <div class="set_dizhi">
        <a href="">
            <p class="set_dizhi_head">重庆市 渝北区 紫园路268号 龙城天都X-X-X</p>
            <p class="set_dizhi_xinxi fl">谭钦云 18183045XXX</p>
            <p class="set_dizhi_jiantou fr"></p>
            <p class="set_dizhi_fapiao">
                发票抬头：XXXXXX
                <span>税号：XXXXXX</span>
            </p>
        </a>
      </div>
      <div class="set_head ma_matop20">
        <p>付款方式</p>
      </div>
      <div class="set_fukuan">
      	<a href="">
        	<p class="fl">货到付款</p>
            <p class="set_dizhi_jiantou fr" style="margin-top: 6px;"></p>
        </a>
      </div>
  </div>
  <!-- footer -->
  <div class="in_footer">
  	<div class="in_footer_lish fl">
    	<a href="" class="">
        	<div class="in_footer_lish_tu1"></div>
            <p class="in_footer_lish_zi">首页</p>
        </a>
    </div>
    <div class="in_footer_lish fl">
    	<a href="" class="">
        	<div class="in_footer_lish_tu2"></div>
            <p class="in_footer_lish_zi">全部商品</p>
        </a>
    </div>
    <div class="in_footer_lish fl">
    	<a href="" class="in_footer_on">
        	<div class="in_footer_lish_tu3"></div>
            <p class="in_footer_lish_zi">订货清单</p>
        </a>
    </div>
    <div class="in_footer_lish fl">
    	<a href="" class="">
        	<div class="in_footer_lish_tu4"></div>
            <p class="in_footer_lish_zi">我的帐号</p>
        </a>
    </div>
  </div>
  <!-- end -->
</section>
</body>
</html>
</block>