<extend name='Lyout:menu'/>
<block>
    <css href="__CSS__/index.css" />
</block>
<block name='admin'>
<section>
  <div class="set_con">
      <div class="set_head">
        <p>您的订货清单</p>
      </div>
      <foreach name="goodsList" item="goodsList">
      <div class="set_cplish">
        <div class="set_cplish_tu fl"><img src="__UPLOAD_URL_PREFIX__/{:$goodsList['logo']}" /></div>
        <div class="set_cplish_text fl">
            <div class="set_cplish_text_title">
                <input type='hidden' class="list" value='{:$goodsList['id']}'/>
                <p class="set_cplish_text_title_1 fl" >{:$goodsList['name']}</p>
                <p class="set_cplish_text_title_2 fr">￥<span class="price">{:$goodsList['market_price'.session('MEMBER_INFO')['rank']]*$goodsList['num']}</span> </p>   
            </div>
            <p class="set_cplish_text_gongjin"><b class="univalence">{:$goodsList['market_price'.session('MEMBER_INFO')['rank']]}</b>元/公斤<span>x</span ><span class="num">{:$goodsList['num']}</span></p>
            <p class="set_cplish_text_gongjin">（{:$goodsList['norintro']}公斤起订）</p>
        </div>
      </div>
      </foreach>
      <div class="set_alldingdan">
        <a href="">查看全部订货清单</a>
      </div>
      
      <div class="set_head ma_matop20">
        <p>您的收货地址</p>
      </div>
      <div class="set_dizhi">
          <if condition="($AddressDefault)">
            <a href="{:U('index.php/Admin/Address/index')}">
                <p class="set_dizhi_head">{:$AddressDefault['detail_address']}{:$AddressDefault['shop_name']}</p>
                <p class="set_dizhi_xinxi fl">
                     <span class='membername'>{:$AddressDefault['name']}</span>
                     <span class="membertel">{:$AddressDefault['tel']}</span>
  
                </p>
                <p class="set_dizhi_jiantou fr"></p>
                <p class="set_dizhi_fapiao">
                    发票抬头：<span class='title_name'>{:$AddressDefault['invoice']}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   税号:<span class='duty'>{:$AddressDefault['ein']}</span>
                </p>
            </a>
              <else/>
              <a href="{:U('index.php/Admin/Address/add')}" style="color: #8D8D8D">
                 您还没有收货地址 点我添加吧！
              </a>
          </if>
      </div>
      <div class="set_head ma_matop20">
        <p>付款方式</p>
      </div>
      <div class="set_fukuan">
      	<a href="javascript:;">
        	<p class="fl">货到付款</p>
            <p class="set_dizhi_jiantou fr" style="margin-top: 6px;"></p>
        </a>
      </div>
  </div>
  <div class="cp_dianjick">
      <p class="pro_jiage fl">总金额为:<span style="color:red;" class="countmeny"></span></p>
    <a class="pro_qingdan fl" href="javascript:;" id='order'>提交订单</a>
  </div>
</section>
</block>
<block name="js">
      <js href="__LAYER__/layer.js"/>
    <script type="text/javascript" charset="utf-8">
       //---------------列表的id-----------------
         $('#order').on('click',function(){
            var cond = new Array();
            var  list = $(".list");
            var price = $(".price");//总价格
            var univalence =$(".univalence");//单价
            var num = $(".num");
           
            var i;
            for(i=0;i<list.length;i++){
                 cond[i] =[
                     list[i]["defaultValue"] ,//id
                     univalence[i]['innerHTML'],//单价
                     num[i]['innerHTML'],//数量
                     price[i]['innerHTML']
                 ];
            }
           
         //----------------收货信息--------------------------   
            var detail_address =$('.set_dizhi_head').text();//地址
            var name = $('.membername').text();//姓名
            var tel = $('.membertel').text();//电话
            var title_name = $('.title_name').text();//发票姓名
            var duty = $('.duty').text();//税号
            var countmeny =$('.countmeny').text();//此订单的总价
            var detail_address = $('.set_dizhi_head').text();//收货地址
            // console.debug(countmeny);
           
           //---------------ajax----------------------------
          $.post('{:U("index.php/Admin/GoodsList/setStatus")}',{'id':cond,'name':name,'tel':tel,'title_name':title_name,'duty':duty,'detail_address':detail_address,'countmeny':countmeny},function(spond){
             // console.debug(spond);
             if(spond==""){
                  location.href="{:U('index.php/Admin/OrderInfo/setlist')}";
             }else{
                  layer.msg(spond);
             }
            
          });
           // console.debug(cond);
          
            
            
        });
        
        
        
        //--------------------------------------------------
        $('.in_footer_lish_tu2').css({
            'background-position':'-40px 0px',
        });
        $(function(){
            $('.in_footer_lish_tu3').css({
                width:26+'px',
                height:26+'px',
                background:'url(__IMG__/icon.png)',
                'background-position':'-72px 30px',
                margin:0 +'auto',
                'margin-top': 8+'px',
            });
            var sum=0;
            if($('.pro_jiage').children().text()==''||$('.pro_jiage').children().text()==0){
            $('.set_cplish_text_title_2').each(function(){
                var s=parseInt($(this).text().substring(1));
                sum=s+sum;
               // console.debug(sum);
            });
                $('.pro_jiage').children().text(sum);
            }
        });
    </script>
</block>

