<extend name='Lyout:menu'/>
<block>
    <css href="__CSS__/index.css" />
</block>
<block name='admin'>
<section>
  <div class="set_con">
      <div class="set_head">
        <p>您的订货清单</p>
      </div>
      <foreach name="goodsList" item="goodsList">
      <div class="set_cplish">
        <div class="set_cplish_tu fl"><img src="__UPLOAD_URL_PREFIX__/{:$goodsList['logo']}" /></div>
        <div class="set_cplish_text fl">
            <div class="set_cplish_text_title">
                <p class="set_cplish_text_title_1 fl">{:$goodsList['name']}</p>
                <p class="set_cplish_text_title_2 fr">￥{:$goodsList['market_price']*$goodsList['num']}</p>
            </div>
            <p class="set_cplish_text_gongjin"><b>{:$goodsList['market_price']}</b>元/公斤<span>x {:$goodsList['num']}</span></p>
            <p class="set_cplish_text_gongjin">（{:$goodsList['norintro']}公斤起订）</p>
        </div>
      </div>
      </foreach>
      <div class="set_alldingdan">
        <a href="">查看全部订货清单</a>
      </div>
      
      <div class="set_head ma_matop20">
        <p>您的收货地址</p>
      </div>
      <div class="set_dizhi">
        <a href="{:U('index.php/Admin/OrderInfo/index')}">
            <p class="set_dizhi_head">重庆市 渝北区 紫园路268号 龙城天都X-X-X</p>
            <p class="set_dizhi_xinxi fl">谭钦云 18183045XXX</p>
            <p class="set_dizhi_jiantou fr"></p>
            <p class="set_dizhi_fapiao">
                发票抬头：XXXXXX
                <span>税号：XXXXXX</span>
            </p>
        </a>
      </div>
      <div class="set_head ma_matop20">
        <p>付款方式</p>
      </div>
      <div class="set_fukuan">
      	<a href="">
        	<p class="fl">货到付款</p>
            <p class="set_dizhi_jiantou fr" style="margin-top: 6px;"></p>
        </a>
      </div>
  </div>
  <div class="cp_dianjick">
    <p class="pro_jiage fl">总金额为:<span style="color:red;"></span></p>
    <a class="pro_qingdan fl" href="">提交订单</a> 
  </div>
</section>
</block>
<block name="js">
    <script type="text/javascript" charset="utf-8">
        $('.in_footer_lish_tu2').css({
            'background-position':'-40px 0px',
        });
        $(function(){

            $('.in_footer_lish_tu3').css({
                width:26+'px',
                height:26+'px',
                background:'url(__IMG__/icon.png)',
                'background-position':'-72px 30px',
                margin:0 +'auto',
                'margin-top': 8+'px',
            });
            var sum=0;
            if($('.pro_jiage').children().text()==''||$('.pro_jiage').children().text()==0){
            $('.set_cplish_text_title_2').each(function(){
                var s=parseInt($(this).text().substring(1));
                sum=s+sum;
            });
                $('.pro_jiage').children().text(sum);
            }
        });
    </script>
</block>

